/*reset*/
html {box-sizing: border-box; overflow-y:scroll;}
*, *:before, *:after {box-sizing: inherit; }

body{background: #000; color: #fff; font-family: sans-serif; font-weight:300;font-size:80%; margin:0;opacity:1;padding:0;transition:1s opacity;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%; }
a:focus,button:focus,input:focus,textarea:focus,:focus {outline: none;}
h1,h2,h3,h4,h5,h6, ul, li, p{margin: 0; padding: 0; -webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px; text-align: left;}
p{color: #000;font-weight: 400; font-size: 1.2em; line-height: 1.7em; margin: 0 0 1em 0;}
p a{color: #000;}

/*rows + columns*/
.row{display: block; float: left; width: 100%; max-width: 2560px; overflow: hidden; position: relative;}
.row:after,
.clear:after {content: '';display: block;clear: both;}
.ctr{margin: 0 auto; width: 94%; max-width: 1440px;}
.fs{min-height: 100vh;}
.flex{text-align: center; display: flex; align-items: center; justify-content: center;}
.white-bg{background: #fff;}
.black-bg{background: #000;}
.col_50{width: 100%;}

/*lazy load*/
img {opacity: 1;transition: opacity 1s;}
img[data-src] {opacity: 0;}

/*scroll bars*/
::-webkit-scrollbar-track{background: #ccc;}
::-webkit-scrollbar{ width: 10px;}
::-webkit-scrollbar-thumb{background-color: #999;}

/*animations*/
@keyframes anim8-01 {0%   {width: 0%;} 100% {width: 100%;}}
@keyframes anim8-01-r {0%   {width: 100%;} 100% {width: 0%;}}
@keyframes anim8-02 {0%   {opacity:0;} 100% {opacity:1;}}
@keyframes anim8-02-r {0%   {opacity:1;} 100% {opacity:0;}}
@keyframes anim8-03 {from {stroke-dashoffset: 146;}to {stroke-dashoffset: 0;}}
@keyframes anim8-04 {from {stroke-dashoffset: 40;}to {stroke-dashoffset: 0;}}
@keyframes anim8-05 {0%   {opacity: 0; transform: translate(0, -50px);} 100% {opacity: 1; transform: translate(0, 0px);}}
@keyframes anim8-05-r {0%  {opacity: 1; transform: translate(0, 0);} 100% {opacity: 0; transform: translate(0, -52px);}}
@keyframes anim8-06 {0%  {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
@keyframes anim8-07 {0%  {stroke-dashoffset: 2100;} 100% {stroke-dashoffset: 0;}}
@keyframes anim8-08 {0%  {stroke-dashoffset: 500;} 100% {stroke-dashoffset: 0;}}
@keyframes anim8-09 {0%  {fill: #fff;} 25% {fill: #fff;} 50% {fill:#fff;} 80% {fill: red;} 90% {fill: #fff;}}
@keyframes anim8-10 {0%  {stroke: #fff;} 96% {stroke: red; fill: red;} 100% {stroke: red; fill: red;}}
@keyframes anim8-11 {0%   {opacity:0; transform: translate(0 -55px);} 100% {opacity:1; transform: translate(0 0);}}
@keyframes anim8-12 {0%   {top:0;} 46% {top: 0;} 50% {top: -18px;} 96% {top: -18px;} 100% {top: 0;}}
@keyframes anim8-13 {0%   {top:-18px;} 46% {top: -18px;} 50% {top: 0;} 96% {top: 0;} 100% {top: -18px;}}

.btn,
.btn_two{position: relative; display: block; height: auto; margin: 2em auto; width: 140px; text-align: center;}
.btn_two{margin: 2em 0;}
.btn:hover{cursor: pointer;}
.btn .border{stroke-dasharray: 350; stroke-dashoffset: 0; transition: all ease 0.5s;}
.btn:hover .border{stroke-dashoffset: 350; transition: all ease 0.5s;}
.btn .borderTwo{stroke-dasharray: 350; stroke-dashoffset: 350; transition: all ease 0.5s; transition-delay: 0.5s;}
.btn:hover .borderTwo{stroke-dashoffset: 0; transition: all ease 0.5s; transition-delay: 0.5s;}
.btn_white{transform: translateX(-100%); transition: all ease 0.5s; transition-delay: 0.25s;}
.btn:hover .btn_white{transform: translateX(100%); transition: all ease 0.5s; transition-delay: 0.25s; }
.btn_span{color: #000; font-size: 1em; font-weight: 400; text-transform: uppercase; position: absolute; top: 0; left: 0; height: 100%; width: 100%;}

@media only screen and (min-width : 1024px) {
    .col_50{width: 50%;}
}