<template>
<div class="row">
  <div class="row fs flex" style="background: #111;">
      <div class="ctr">
          <div class="row articles page_content" id="blog">
              <ul>
                  <li v-for="post in displayedPosts" :key="post.id">
                      <router-link :to="{ path: '/posts/'+ post.id +'/' + post.permalink}">
                          <div class="row article_thumb">
                              <img :src="post.thumb" :alt="post.title"/>
                          </div>
                          <div class="row article_excerpt">
                              <h3 class="title">{{post.title }}</h3>
                              <p><b>{{post.date}}</b></p>
                              <p v-html="post.excerpt"></p>
                              <div class="btn btn_one btn_two">
                                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 137 39" enable-background="new 0 0 137 39" xml:space="preserve">
                                  <rect class="btn_white" y="1" fill="#fff" width="136" height="38"></rect>
                                  <rect class="border" x="0.5" y="0.5" fill="none" stroke="#fff" stroke-miterlimit="10" width="136" height="38"></rect>
                                  <rect class="borderTwo" x="0.5" y="0.5" fill="none" stroke="#fff" stroke-miterlimit="10" width="136" height="38"></rect>
                                  </svg>
                                  <span class="btn_span flex" style="color: #fff;">discover</span>
                              </div>
                          </div>
                      </router-link>
                      <svg version="1.1" class="hr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 1920 46.303" enable-background="new 0 0 1920 46.303" xml:space="preserve">
                      <line class="hr-hr" fill="none" stroke="#222222" stroke-width="2" stroke-miterlimit="10" x1="1920" y1="26.768" x2="0" y2="26.768"/>
                      <polygon class="hr-tri" fill="none" stroke="#222222" stroke-width="2" stroke-miterlimit="10" points="984.552,1 959.552,44.303 
                      934.552,1 "/>
                      </svg>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row pagination">
      <button type="button" v-if="page != 1" @click="page--"> prev </button>
      <button type="button" v-for="pageNumber in pages.slice(page-1, page+5)" :key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
      <button type="button" @click="page++" v-if="page < pages.length"> next </button>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
data() {
    return {
      posts: [],
      baseUrl: "https://api.myjson.com/bins/acq2n",
      page: 1,
      perPage: 2,
      pages: []
    }
  },

  //initial state methods
  methods: {

    //get posts
    getPosts() {
      axios
        .get(this.baseUrl)
        .then(response => {
          this.posts = response.data;
        })
        .catch(response => {
          console.log(response);
        });
    },


    //set pages
    setPages() {
      let numberOfPages = Math.ceil(this.posts.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },

    //paginate
    paginate(posts) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return posts.slice(from, to);
    }
  },

  //created
  created() {
    this.getPosts();
  },

  //watch
  watch: {
    posts() {
      this.setPages();
    }
  },

  //computed
  computed: {
    displayedPosts() {
      return this.paginate(this.posts);
    }
  }

}
</script>

<style>
.articles{background: #111; color: #fff;}
.articles ul,
.articles li{display: block; float: left; width: 100%; list-style-type: none; padding:0; margin: 0;}
.articles li a{text-decoration: none;color: #fff; width: 100%; list-style-type: none; margin: 0; padding: 0;}
.article_thumb{width:100%; margin: 0 0 1em 0;}
.article_thumb img{height: auto; width: 100%;}
.article_excerpt{padding: 0; width: 100%;}
.article_excerpt p{color: #ccc;}
.article_excerpt p:nth-of-type(2){display: none;}
.articles li:nth-child(even) .article_excerpt{padding: 0;}
.articles li .hr{padding: 4em 0;}

.pagination{margin: 0 0 4em 0;}
.pagination button{background: transparent; opacity: 0.7; display: block; float: left; margin: 0 1em 0 0; border: 1px solid #fff; padding: 1em; color: #fff; }
.pagination button:hover{opacity: 1; cursor: pointer;}

@media only screen and (min-width : 1024px) {
.pagey{background: rgba(255,255,255,0.7); }
.article_excerpt{padding: 0 0 0 4em; width: 70%;}
.article_thumb{display: block;width: 30%;margin: 0;}
.articles li:nth-child(even) a{flex-flow: row-reverse;}
.articles li:nth-child(even) .article_excerpt{padding: 0 4em 0 0;}
.articles li a{display: flex; align-items: center; justify-content: center;}
#blog{padding: 8em 0 0 0;}
.article_excerpt p:nth-of-type(2){display: block;}
.btn_two{margin: 2em 0 0 0;}
}
</style>
