<template>
<div class="page_content white-bg row">
     <div class="ctr">
        <div class="r1 r1a row fs tracked inactive" id="about">
            <div class="row col_50 bg bga1">
                <div class="bg_block trans_01"></div>
                <span class="caption">Me with 3rd degree sunburn in Cuba, not fun and not clever.</span>
            </div>
            <div class="row col_50 pad_01">
                <h1 class="title">Freelance Web<br/>Designer &amp; Developer</h1>
                <p>Ultra Brands is the Digital home of website designer and developer Dan Wakefield. I have worked in the web industry for well over a decade, originally starting out as a Flash animator and motion graphics designer back in 2003 long before the release of Facebook, or the IPhone, and I worked my way up to senior developer by my mid 20s and have managed to keep my skills up to date throughout all of the major iterations of the web ever since.</p>
                <p>My skills range from website/user interface design through to full stack PHP and Javascript website development using Frameworks such as Vue.js, Wordpress and much more. If i had to give myself a label it would be that of a front end developer &amp; designer but I do branch out quite a lot with other fun stuff such as 3D modelling and rendering, experimenting with WebVR and lots more, take a look at my portfolio to see the some of my work in action.</p>
                <p>And BTW, If I could offer you only one tip for the future, Sunscreen would be it :)</p>
                <p>Cheers,<br/>DW</p>
            </div>
        </div>

        <div class="row" style="background: #fff; padding: 0 0 8em 0;">
        <div class="ctr">
        <svg version="1.1" class="hr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1920 46.303" enable-background="new 0 0 1920 46.303" xml:space="preserve">
        <line class="hr-hr" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="1920" y1="26.768" x2="0" y2="26.768"/>
        <polygon class="hr-tri" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" points="984.552,1 959.552,44.303 
        934.552,1 "/>
        </svg>
        </div>
        </div>

        <div class="r1 row fs tracked inactive" id="philosophy">
            <div class="row col_50 pad_02">
                <h1 class="title">Digital Aesthetics<br/>Vs Usability</h1>
                <p>I believe the web can be place for artistic expression and creative freedom whilst maintaining usable form and function and with the advent and growing popularisation of technologies such as 5G, WebVR, WebGL, Native Mobile Frameworks and even Google Stadia we are now at the dawn of the next iteration of the web.</p><p>These new technologies mean we can now reliably deliver high end accessible user experiences to more people across the globe than ever before and on almost all platforms and devices, so if your web presence is not up to date now might be a good time to start thinking about making some changes.</p>
                <p>If you think you could use my help, or just want to have a chat about your web design or development project, simply hit the button below or email me <a href="mailto:dw@ultr4.co.uk" target="_blank">dw@ultr4.co.uk</a> and I will get back to you right away.</p>
                <div class="row">
                    <div class="btn btn_one btn_two">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 137 39" enable-background="new 0 0 137 39" xml:space="preserve">
                        <rect class="btn_white" y="1" fill="#000000" width="136" height="38"/>
                        <rect class="border" x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="136" height="38"/>
                        <rect class="borderTwo" x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="136" height="38"/>
                        </svg>
                        <span class="btn_span flex">dw@ultr4.co.uk</span>
                    </div>
                </div>
            </div>
            <div class="row col_50 bg bga2">
                <div class="bg_block trans_02"></div>
            </div>
        </div>

    </div>
</div>
</template>

<script>
export default {
    
}
</script>

<style>
.page_content{color: #000; padding: 0;}
.page_content .title{text-align: center; font-size: 3em; line-height: 1.2em; text-transform: uppercase; letter-spacing: 4px; font-family: 'Playfair Display', serif; font-weight: 400; margin: 0 0 0.5em 0;}
.page_content img{height: auto; width: 100%;}
.intro p{margin: 0 auto; text-align: center;}
.bga1,
.bga2{background: url(~assets/images/a1.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: contain;}
.bga2{background: url(~assets/images/a2.jpg);}
.r1 span {display: block;padding: 1em 0 4em 0;}

@media only screen and (min-width : 1024px) {
    .r1{text-align: center; display: flex; align-items: center; justify-content: center;}
    .r1 .bg{padding: 50% 0 0 0; position: relative; display: block;}
    .r1 .bg span{display: block; text-align:left; padding: 15px 0 0 0;}
    .r1 .bg_block{background: #fff; position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: 1; transition: all ease 0.6s; }
    .container.scrolling .r1 .bg_block.trans_01{width: 0%; transition: all ease 0.6s; }
    .container.scrolling .r1 .bg_block.trans_02{left: 100%; transition: all ease 0.6s; }
    .r1 .pad_01{padding: 0 0 0 4em;}
    .r1 .pad_02{padding: 0 4em 0 0;}
    .r2 .r1 .bg_block{background: #111;}
    .page_content .title{font-size: 3em; text-align: left;}
}
</style>
