<template>
    <div class="row">
        <div id="masonry" class="row">
            <div class="tile tile_01">
                <div class="row tile_thumb">
                    <img src="~assets/images/b1.jpg" alt="Identity &amp; Branding">
                </div>
                <div class="tile_box"></div>
                <div class="row tile_content flex">
                    <div class="row">
                        <span>Design &amp; Identity</span>
                        <svg version="1.1" class="hr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1920 46.303" enable-background="new 0 0 1920 46.303" xml:space="preserve">
                        <line class="hr-hr" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="1920" y1="26.768" x2="0" y2="26.768"/>
                        <polygon class="hr-tri" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" points="984.552,1 959.552,44.303 
                        934.552,1 "/>
                        </svg>
                        <p>Whether it be the design of a crispy clean user interface, or evolution of an existing identity, through to the production of digital and print marketing assets.</p>
                    </div>
                </div>
            </div>
            
            <div class="tile tile_02">
                <div class="row tile_thumb">
                    <img src="~assets/images/b2.jpg" alt="Progressive Web Apps">
                </div>
                <div class="tile_box"></div>
                <div class="row tile_content flex">
                    <div class="row">
                        <span>Websites &amp; Apps</span>
                        <svg version="1.1" class="hr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1920 46.303" enable-background="new 0 0 1920 46.303" xml:space="preserve">
                        <line class="hr-hr" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="1920" y1="26.768" x2="0" y2="26.768"/>
                        <polygon class="hr-tri" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" points="984.552,1 959.552,44.303 
                        934.552,1 "/>
                        </svg>
                        <p>Depending on the needs of a project I can develop anything from bespoke WordPress themes through to (PWA) Progressive Web Apps and custom JavaScript modules.</p>
                    </div>
                </div>
            </div>

            <div class="tile tile_03">
                <div class="row tile_thumb">
                    <img src="~assets/images/b3.jpg" alt="3D &amp; Video">
                </div>
                <div class="tile_box"></div>
                <div class="row tile_content flex">
                    <div class="row">
                        <span>User Experience</span>
                        <svg version="1.1" class="hr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1920 46.303" enable-background="new 0 0 1920 46.303" xml:space="preserve">
                        <line class="hr-hr" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" x1="1920" y1="26.768" x2="0" y2="26.768"/>
                        <polygon class="hr-tri" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-miterlimit="10" points="984.552,1 959.552,44.303 
                        934.552,1 "/>
                        </svg>
                        <p>A great way to engage users is with Video, 3D and even WebVR. I use tools such as Blender, A-Frame VR and many more to create engaging user experiences.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
.p_grid{background: #111; padding: 8em 0;}
.p_grid_tile{position: relative; overflow: visible;}
.p_grid_tile_thumb{float: right;width: 33.3vw; overflow: visible;}
.p_grid_tile_thumb img{height: auto;  width: 100%;}
.p_grid_tile_title{}
.p_grid_tile_date{}
.tile {position: relative; display: block; float: left; height: calc(100vh - 50px); width: 100%;} 
.tile_thumb{position: absolute; display: block; left: 0; top: 0; height: 100vh; width: 100%; overflow: hidden;}
.tile img{ opacity: 1; display: block; float: left;height: 100%; width: auto; transform: scale(1); transition: transform ease 0.5s;}
.tile:hover img{ opacity: 0.9; transform: scale(1.05); transition: transform ease 0.5s;} 
#masonry {overflow: hidden;background: rgba(0,0,0,1);}
#masonry:hover {overflow: hidden;background: rgba(0,0,0,0.7); }
.tile_box{position: absolute; background: rgba(0,0,0,0.7); height: 100%; width: 100%; top: 0; left: 0; transform: scale(1); z-index: 2; transition: transform ease 0.5s;}
.tile_content{padding: 2em; position: absolute; height: 80%; width: 80%; top: 10%; left: 10%; z-index: 3; transition: all ease 0.5s;}
.tile span{transform: translateY(1em);  margin: 0 0 0.25em 0; color: #fff; display: inline-block; font-size: 1.8em; text-transform: uppercase; letter-spacing: 4px; line-height: 1em; font-family: 'Playfair Display', serif; font-weight: 400;transition: all ease 0.5s;}
.tile .hr{margin: 0.25em 0;}
.tile p{opacity: 1; padding: 2em 0; color: #ccc; text-align: center;transition: all ease 0.5s;}
.tile .hr-tri{transform: translateY(-305px); transition: all ease 0.5s;}

.tile:hover .tile_box{transform: scale(0.9); transition: transform ease 0.5s;}
.tile:hover span,
.tile:hover p{opacity: 1; transform: translateY(0); transition: all ease 0.5s;}
.tile:hover .hr-tri{transform: translateY(0); transition: all ease 0.5s;}
.tile .hr-hr{transform: scaleX(1) translateX(0);transition: all ease 0.5s;}
.tile:hover .hr-hr{transform: scaleX(0.5) translateX(50%); transition: all ease 0.5s;}
@media only screen and (min-width : 768px) {
.tile img{height: auto; width: 100%;}
}

@media only screen and (min-width : 1024px) {
.tile_content{padding: 4em;}
.tile p{opacity: 0;padding:0;transform: translateY(-20px); color: #666;}
}
@media only screen and (min-width : 1260px) {
.tile {width: 33.33%;} 
.tile img{height: 100%; width: auto;}
.tile span{font-size: 2em;}
}
</style>
