<template>
    <header class="header row" id="top">
        <nuxt-link to="/" class="home_button">Ultra Brands</nuxt-link>
        <nav>
            <ul>
                <li>
                    <nuxt-link to="/about">About</nuxt-link>
                </li>
                <li>
                    <nuxt-link to="/philosophy">Philosophy</nuxt-link>
                </li>
                <li>
                    <nuxt-link to="/services">Services</nuxt-link>
                </li>
                <li>
                    <nuxt-link to="/case-studies">Case Studies</nuxt-link>
                </li>
                <li>
                    <nuxt-link to="/blog">Blog</nuxt-link>
                </li>
            </ul>
        </nav>
        <div class="header_back"></div>
        <div class="logo_wrap">
            <svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 423 141.092" enable-background="new 0 0 423 141.092" xml:space="preserve">
            <g id="back_1_">
            <rect id="back-plate" y="47" fill="#FFFFFF" width="423" height="66"/>
            </g>
            <g id="logo-txt-1">
            <g>
            <path stroke="#000000" stroke-miterlimit="10" d="M46.013,82.771c0,8.325-5.535,13.589-14.354,13.589
            c-8.865,0-14.535-5.264-14.535-13.589V64.501h8.01v18.269c0,4.274,2.745,6.885,6.57,6.885c3.78,0,6.345-2.61,6.345-6.885V64.501
            h7.964V82.771z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M77.198,89.295V96H55.824V64.501h8.01v24.793H77.198z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M99.653,70.936V96h-8.01V70.936h-9.405v-6.48h26.909v6.48H99.653z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M130.928,87.135h-0.225h-6.075V96h-8.01V64.501h14.084
            c8.325,0,13.094,3.959,13.094,10.979c0,4.814-2.025,8.28-5.715,10.125L144.697,96h-9.089L130.928,87.135z M130.703,80.835
            c3.465,0,5.49-1.755,5.49-5.084c0-3.285-2.025-4.95-5.49-4.95h-6.075v10.035H130.703z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M160.403,90.195L158.108,96h-8.235l13.589-31.499h8.235L184.972,96h-8.55
            l-2.25-5.805H160.403z M167.333,72.466l-4.59,11.655h9.089L167.333,72.466z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M207.203,64.546c6.075,0,9.584,2.835,9.584,7.785c0,3.96-2.25,6.615-6.209,7.29
            c4.995,0.585,7.874,3.51,7.874,7.965c0,5.354-4.094,8.414-11.249,8.414h-12.645V64.546H207.203z M195.458,79.261h11.744
            c5.536,0,8.684-2.52,8.684-6.93c0-4.365-3.148-6.885-8.684-6.885h-11.744V79.261z M195.458,95.1h11.744
            c6.614,0,10.395-2.744,10.395-7.559c0-4.726-3.781-7.425-10.395-7.425h-11.744V95.1z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M246.037,84.84L254.182,96h-1.125l-8.01-10.979c-0.9,0.09-1.846,0.18-2.879,0.18
            h-9.766V96h-0.9V64.546h10.666c7.648,0,12.014,3.735,12.014,10.214C254.182,80.161,251.256,83.715,246.037,84.84z M242.168,84.301
            c7.064,0,11.113-3.465,11.113-9.54c0-5.939-4.049-9.314-11.113-9.314h-9.766v18.854H242.168z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M268.176,86.416L263.813,96h-1.08l14.398-31.454h0.99L292.701,96h-1.035
            l-4.41-9.584H268.176z M277.627,65.581l-9.045,19.935h18.27L277.627,65.581z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M326.045,96l-22.184-30.554V96h-0.9V64.546h1.35L326.496,95.1V64.546h0.898V96
            H326.045z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M355.34,64.546c8.865,0,16.109,7.064,16.109,15.749
            c0,8.64-7.244,15.705-16.109,15.705h-12.373V64.546H355.34z M343.867,95.1h11.473c8.371,0,15.211-6.659,15.211-14.804
            c0-8.189-6.84-14.849-15.211-14.849h-11.473V95.1z"/>
            <path stroke="#000000" stroke-miterlimit="10" d="M399.709,66.841l-0.449,0.72c-2.025-1.305-5.131-2.115-7.92-2.115
            c-5.535,0-9.135,2.385-9.135,6.075c0,10.53,18.9,5.13,18.809,16.829c0,4.636-4.184,7.65-10.664,7.65
            c-3.959,0-8.145-1.755-10.754-4.41l0.629-0.63c2.385,2.521,6.346,4.14,10.125,4.14c5.939,0,9.766-2.654,9.766-6.75
            c0.09-10.799-18.811-5.398-18.811-16.829c0-4.23,3.961-6.975,10.035-6.975C394.266,64.546,397.549,65.446,399.709,66.841z"/>
            </g>
            </g>
            <g id="logo-txt-2">
            <g>
            <path fill="#FFFFFF" d="M32.938,127.203l-1.104,1.402c-1.242-1.265-2.989-2.023-4.76-2.023c-3.633,0-6.554,2.806-6.554,6.347
            c0,3.519,2.92,6.347,6.554,6.347c1.771,0,3.495-0.736,4.76-1.932l1.127,1.265c-1.586,1.495-3.748,2.483-5.979,2.483
            c-4.645,0-8.324-3.61-8.324-8.163c0-4.507,3.725-8.071,8.393-8.071C29.259,124.857,31.397,125.754,32.938,127.203z"/>
            <path fill="#FFFFFF" d="M45.543,135.872c-0.345,0.023-0.713,0.046-1.081,0.046h-4.277V141h-1.839v-16.097h6.117
            c4.024,0,6.347,1.978,6.347,5.404c0,2.667-1.288,4.461-3.61,5.22L50.97,141h-2.092L45.543,135.872z M44.462,134.147
            c2.92,0,4.576-1.288,4.576-3.794c0-2.438-1.656-3.68-4.576-3.68h-4.277v7.474H44.462z"/>
            <path fill="#FFFFFF" d="M58.884,126.674v5.289h8.118v1.771h-8.118v5.519h9.382V141H57.044v-16.097h10.922v1.771H58.884z"/>
            <path fill="#FFFFFF" d="M75.49,136.93L73.696,141h-1.955l7.221-16.097h1.909L88.068,141h-2l-1.794-4.07H75.49z M79.859,126.996
            l-3.587,8.163h7.22L79.859,126.996z"/>
            <path fill="#FFFFFF" d="M96.074,126.674V141h-1.84v-14.326h-5.243v-1.771h12.348v1.771H96.074z"/>
            <path fill="#FFFFFF" d="M106.08,141v-16.097h1.839V141H106.08z"/>
            <path fill="#FFFFFF" d="M119.097,141l-6.53-16.097h1.978l5.542,13.958l5.565-13.958h1.932L121.006,141H119.097z"/>
            <path fill="#FFFFFF" d="M134.07,126.674v5.289h8.118v1.771h-8.118v5.519h9.382V141h-11.222v-16.097h10.922v1.771H134.07z"/>
            <path fill="#FFFFFF" d="M170.407,127.203l-1.104,1.402c-1.242-1.265-2.989-2.023-4.76-2.023c-3.633,0-6.554,2.806-6.554,6.347
            c0,3.519,2.92,6.347,6.554,6.347c1.771,0,3.495-0.736,4.76-1.932l1.127,1.265c-1.586,1.495-3.748,2.483-5.979,2.483
            c-4.645,0-8.324-3.61-8.324-8.163c0-4.507,3.725-8.071,8.393-8.071C166.728,124.857,168.867,125.754,170.407,127.203z"/>
            <path fill="#FFFFFF" d="M190.762,132.952c0,4.529-3.725,8.14-8.416,8.14c-4.714,0-8.439-3.61-8.439-8.14
            c0-4.554,3.725-8.095,8.439-8.095C187.037,124.857,190.762,128.422,190.762,132.952z M175.769,132.952
            c0,3.541,2.99,6.369,6.577,6.369c3.587,0,6.531-2.828,6.531-6.369c0-3.542-2.943-6.347-6.531-6.347
            C178.759,126.605,175.769,129.41,175.769,132.952z"/>
            <path fill="#FFFFFF" d="M210.771,141l-0.023-13.269l-5.864,11.567h-1.104l-5.841-11.567V141h-1.748v-16.097h2.276l5.887,11.59
            l5.864-11.59h2.253V141H210.771z"/>
            <path fill="#FFFFFF" d="M234.024,141l-0.023-13.269l-5.863,11.567h-1.104l-5.84-11.567V141h-1.748v-16.097h2.276l5.887,11.59
            l5.864-11.59h2.253V141H234.024z"/>
            <path fill="#FFFFFF" d="M255.852,134.377c0,4.186-2.529,6.715-6.737,6.715c-4.231,0-6.784-2.529-6.784-6.715v-9.474h1.84v9.474
            c0,3.128,1.886,4.944,4.944,4.944c3.058,0,4.897-1.816,4.897-4.944v-9.474h1.84V134.377z"/>
            <path fill="#FFFFFF" d="M273.93,141l-9.657-12.923V141h-1.84v-16.097h1.908l9.658,12.946v-12.946h1.816V141H273.93z"/>
            <path fill="#FFFFFF" d="M282.787,141v-16.097h1.84V141H282.787z"/>
            <path fill="#FFFFFF" d="M304.335,127.203l-1.104,1.402c-1.241-1.265-2.989-2.023-4.76-2.023c-3.633,0-6.554,2.806-6.554,6.347
            c0,3.519,2.921,6.347,6.554,6.347c1.771,0,3.495-0.736,4.76-1.932l1.127,1.265c-1.587,1.495-3.748,2.483-5.979,2.483
            c-4.646,0-8.324-3.61-8.324-8.163c0-4.507,3.725-8.071,8.393-8.071C300.656,124.857,302.795,125.754,304.335,127.203z"/>
            <path fill="#FFFFFF" d="M311.076,136.93l-1.793,4.07h-1.955l7.221-16.097h1.908L323.654,141h-2l-1.794-4.07H311.076z
            M315.445,126.996l-3.587,8.163h7.221L315.445,126.996z"/>
            <path fill="#FFFFFF" d="M331.66,126.674V141h-1.839v-14.326h-5.243v-1.771h12.349v1.771H331.66z"/>
            <path fill="#FFFFFF" d="M341.667,141v-16.097h1.84V141H341.667z"/>
            <path fill="#FFFFFF" d="M365.791,132.952c0,4.529-3.726,8.14-8.416,8.14c-4.715,0-8.439-3.61-8.439-8.14
            c0-4.554,3.725-8.095,8.439-8.095C362.065,124.857,365.791,128.422,365.791,132.952z M350.798,132.952
            c0,3.541,2.989,6.369,6.577,6.369c3.587,0,6.53-2.828,6.53-6.369c0-3.542-2.943-6.347-6.53-6.347
            C353.787,126.605,350.798,129.41,350.798,132.952z"/>
            <path fill="#FFFFFF" d="M382.719,141l-9.657-12.923V141h-1.84v-16.097h1.908l9.658,12.946v-12.946h1.816V141H382.719z"/>
            <path fill="#FFFFFF" d="M401.464,126.329l-0.781,1.725c-1.449-0.966-3.15-1.356-4.438-1.356c-2.069,0-3.426,0.781-3.426,2.139
            c0,4.139,9.06,1.978,9.036,7.818c0,2.69-2.368,4.415-5.817,4.415c-2.346,0-4.645-1.012-6.162-2.461l0.827-1.655
            c1.495,1.448,3.541,2.276,5.358,2.276c2.322,0,3.771-0.943,3.771-2.483c0.023-4.231-9.037-1.978-9.037-7.749
            c0-2.53,2.23-4.162,5.565-4.162C398.222,124.835,400.13,125.433,401.464,126.329z"/>
            </g>
            </g>
            <g id="icon">
            <line id="ui-hr" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="229.709" y1="27.339" x2="192.658" y2="27.339"/>
            <polygon id="ui-tri" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="234.997,1 211.098,42.395 
            187.198,1 	"/>
            </g>
            </svg>
        </div>
    </header>
</template>

<script>
export default {

}
</script>

<style>
/*above the fold CSS*/
.header{height: 100px; padding: 1em 0; position: fixed; top: 0; left: 0;z-index: 1000; transition: all ease 0.5s;} 
.header_back{background:rgba(0,0,0,1); position: fixed; top: 0; left: 0; z-index: 1; height: 50px; width: 100vw; transform: translateY(-60px); transition: all ease 0.5s;}
.header nav{display: none;}
.logo_wrap{position: fixed; top:12px; left: 0; z-index: 3; height: auto; width: 100vw;}
#logo{display: block; height: auto; margin: 0 auto; width: 260px; }
#back-plate{width: 0%; animation: anim8-01 .5s; animation-fill-mode: forwards; animation-delay: .5s;}
#logo-txt-1{opacity: 0; animation: anim8-02 .5s; animation-fill-mode: forwards; animation-delay: .8s;}
#ui-tri{animation: anim8-03 1s; stroke-dasharray: 146; stroke-dashoffset: 146; animation-fill-mode: forwards; animation-delay: .5s;}
#ui-hr{animation: anim8-04 1s; stroke-dasharray: 40; stroke-dashoffset: 40; animation-fill-mode: forwards; animation-delay: .5s;}
#logo-txt-2{ overflow: hidden; opacity: 0; transform: translate(0, -50px); animation: anim8-05 .8s; animation-fill-mode: forwards; animation-delay: .5s;}
.container.scrolling #logo-txt-2{animation: anim8-05-5 .8s; animation-fill-mode: forwards;}
.container.scrolling #back-plate{animation: anim8-01-r .5s; animation-fill-mode: forwards;}
.container.scrolling #logo-txt-1{animation: anim8-02-r .5s; animation-fill-mode: forwards;}
.container.scrolling .header_back{transform: translateY(0px); transition: all ease 0.5s; transition-delay: 0.5s;}
.home_button{opacity: 0.5;display: block; height: 86px; position: fixed; top: 0; left: calc(50% - 125px); text-indent: -9999px;width: 260px;  z-index: 9999}
.container.scrolling .home_button{height: 50px; left: calc(50% - 20px); width: 50px;}

@media only screen and (min-width : 1024px) {
    .header{height: auto;}
    .header nav{display: block; position: fixed; top: 0; left: 0; z-index: 5; height: 50px; width: 100vw;}
    .header nav ul{padding: 10px 4em 0 0;position: relative; display: block; float: right; }
    .header nav li{position: relative; display: block; float: left; line-height: 30px; height: 30px;}
    .header nav li:before{top: 0; padding: 1em 0; left: 0; position: absolute; content: ""; display: block; height: 100%; width: 0%; background: #fff; z-index: -1; transition: all ease 0.3s;}
    .header nav li:hover:before{width: 100%;transition: all ease 0.3s;}
    .header nav li a{padding: 0 1em; color: #fff; font-size: .9em; letter-spacing: 4px; text-transform: uppercase;font-weight: 400; text-decoration: none; display: block; transition: all ease 0.5s;}
    .header nav li:hover a{color: #000; transition: all ease 0.5s;}
}
</style>
