<template>
<!--section-->
    <div class="section a1 row flex fs">

        <div class="a1_svg row flex fs">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="644px"
                height="644px" viewBox="0 0 644 644" enable-background="new 0 0 644 644" xml:space="preserve">
           <g id="rings">
               <circle id="ring01" fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" cx="322" cy="322" r="320"/>
               <path id="ring02" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M625,322
                   c0,167.333-135.666,303-303,303S19,489.334,19,322C19,154.667,154.667,19,322,19S625,154.667,625,322z"/>
               <path id="ring03" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M372,322c0,27.611-22.388,50-50,50
                   s-50-22.389-50-50c0-27.613,22.388-50,50-50S372,294.387,372,322z"/>
               <path id="ring04" fill="none" stroke="#FFFFFF" stroke-width="7" stroke-miterlimit="10" d="M346.5,322
                   c0,13.529-10.981,24.5-24.5,24.5c-13.53,0-24.5-10.971-24.5-24.5c0-13.53,10.97-24.5,24.5-24.5
                   C335.518,297.5,346.5,308.47,346.5,322z"/>
           </g>
           <g id="dashes">
               <g>
                   <g>
                       <rect x="320.326" y="114.326" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="2" height="24"/>
                   </g>
                   <g>
                       
                           <rect x="303.17" y="121.989" transform="matrix(0.0524 0.9986 -0.9986 0.0524 418.1042 -194.7342)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.885"/>
                   </g>
                   <g>
                       
                           <rect x="292.79" y="122.801" transform="matrix(0.1046 0.9945 -0.9945 0.1046 392.8158 -188.8288)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="282.466" y="124.155" transform="matrix(0.1564 0.9877 -0.9877 0.1564 369.0086 -181.8398)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="272.227" y="126.048" transform="matrix(0.2078 0.9782 -0.9782 0.2078 346.5868 -173.9884)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="262.102" y="128.474" transform="matrix(0.2588 0.9659 -0.9659 0.2588 325.5656 -165.4485)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="252.118" y="131.426" transform="matrix(0.309 0.951 -0.951 0.309 305.9549 -156.3873)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="242.302" y="134.897" transform="matrix(0.3584 0.9336 -0.9336 0.3584 287.7219 -146.9741)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="232.68" y="138.876" transform="matrix(0.4067 0.9136 -0.9136 0.4067 270.8183 -137.3669)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="223.28" y="143.356" transform="matrix(0.454 0.891 -0.891 0.454 255.1017 -127.7201)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="214.128" y="148.319" transform="matrix(0.5 0.866 -0.866 0.5 240.5747 -118.1593)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="205.248" y="153.756" transform="matrix(0.5446 0.8387 -0.8387 0.5446 227.0855 -108.809)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="196.664" y="159.649" transform="matrix(0.5878 0.809 -0.809 0.5878 214.4961 -99.7722)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="188.401" y="165.984" transform="matrix(0.6293 0.7772 -0.7772 0.6293 202.7251 -91.1344)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="180.481" y="172.743" transform="matrix(0.6691 0.7431 -0.7431 0.6691 191.5965 -82.9637)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="172.925" y="179.906" transform="matrix(0.7071 0.7071 -0.7071 0.7071 181.0142 -75.3088)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="165.754" y="187.456" transform="matrix(0.7432 0.6691 -0.6691 0.7432 170.8134 -68.1993)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="158.989" y="195.37" transform="matrix(0.7771 0.6294 -0.6294 0.7771 160.8795 -61.6471)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="152.647" y="203.627" transform="matrix(0.809 0.5878 -0.5878 0.809 151.0287 -55.6431)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="146.745" y="212.205" transform="matrix(0.8387 0.5446 -0.5446 0.8387 141.125 -50.158)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="141.302" y="221.08" transform="matrix(0.866 0.5001 -0.5001 0.866 131.1032 -45.1503)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="136.329" y="230.228" transform="matrix(0.891 0.454 -0.454 0.891 120.7437 -40.5496)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="131.843" y="239.623" transform="matrix(0.9135 0.4068 -0.4068 0.9135 109.9952 -36.2807)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="127.853" y="249.24" transform="matrix(0.9336 0.3584 -0.3584 0.9336 98.7197 -32.2436)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="124.372" y="259.053" transform="matrix(0.951 0.3091 -0.3091 0.951 86.8682 -28.3343)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="121.412" y="269.035" transform="matrix(0.9659 0.2588 -0.2588 0.9659 74.3083 -24.4222)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="118.977" y="279.158" transform="matrix(0.9781 0.208 -0.208 0.9781 61.0477 -20.386)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="117.075" y="289.395" transform="matrix(0.9877 0.1565 -0.1565 0.9877 46.981 -16.0718)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="115.712" y="299.717" transform="matrix(0.9945 0.1046 -0.1046 0.9945 32.1297 -11.3416)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="114.89" y="310.097" transform="matrix(0.9986 0.0524 -0.0524 0.9986 16.4628 -6.0359)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       <rect x="113.326" y="321.326" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="24" height="2"/>
                   </g>
                   <g>
                       
                           <rect x="122.417" y="323.568" transform="matrix(0.0523 0.9986 -0.9986 0.0523 448.5119 191.5025)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="123.24" y="333.948" transform="matrix(0.1046 0.9945 -0.9945 0.1046 451.7546 183.1232)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="124.605" y="344.271" transform="matrix(0.1564 0.9877 -0.9877 0.1564 454.327 173.5798)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="126.508" y="354.509" transform="matrix(0.2077 0.9782 -0.9782 0.2077 456.0696 162.9455)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="128.944" y="364.631" transform="matrix(0.2586 0.966 -0.966 0.2586 456.7306 151.1684)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="131.907" y="374.615" transform="matrix(0.3088 0.9511 -0.9511 0.3088 456.195 138.4293)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="135.389" y="384.426" transform="matrix(0.3583 0.9336 -0.9336 0.3583 454.3071 124.8467)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.978"/>
                   </g>
                   <g>
                       
                           <rect x="139.379" y="394.045" transform="matrix(0.407 0.9134 -0.9134 0.407 450.8956 110.5273)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect x="143.867" y="403.442" transform="matrix(0.4536 0.8912 -0.8912 0.4536 446.2298 96.0153)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="148.841" y="412.59" transform="matrix(0.5001 0.866 -0.866 0.5001 439.5299 80.8)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.885" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="154.286" y="421.465" transform="matrix(0.5444 0.8388 -0.8388 0.5444 431.3834 65.6803)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="160.188" y="430.044" transform="matrix(0.5878 0.809 -0.809 0.5878 421.2139 50.4204)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="166.532" y="438.302" transform="matrix(0.6296 0.7769 -0.7769 0.6296 409.1628 35.3832)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.885" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="173.298" y="446.216" transform="matrix(0.6689 0.7434 -0.7434 0.6689 395.7251 21.044)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="180.469" y="453.765" transform="matrix(0.7067 0.7075 -0.7075 0.7067 380.2462 7.2214)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="188.027" y="460.929" transform="matrix(0.7429 0.6694 -0.6694 0.7429 362.8069 -5.8123)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="195.948" y="467.687" transform="matrix(0.7773 0.6292 -0.6292 0.7773 343.4476 -17.819)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="204.212" y="474.022" transform="matrix(0.8092 0.5876 -0.5876 0.8092 322.6672 -28.4648)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.973"/>
                   </g>
                   <g>
                       
                           <rect x="212.797" y="479.914" transform="matrix(0.8388 0.5444 -0.5444 0.8388 300.3214 -37.6443)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.885" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="221.678" y="485.35" transform="matrix(0.8662 0.4998 -0.4998 0.8662 276.5945 -45.1638)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="230.831" y="490.314" transform="matrix(0.8908 0.4543 -0.4543 0.8908 251.9286 -50.8494)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.973"/>
                   </g>
                   <g>
                       
                           <rect x="240.232" y="494.791" transform="matrix(0.9139 0.406 -0.406 0.9139 225.1286 -54.5721)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="249.854" y="498.77" transform="matrix(0.9336 0.3583 -0.3583 0.9336 198.4137 -56.1832)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="259.671" y="502.242" transform="matrix(0.951 0.3091 -0.3091 0.951 170.6136 -55.5428)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="269.657" y="505.194" transform="matrix(0.9659 0.2589 -0.2589 0.9659 142.2108 -52.5422)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="279.783" y="507.618" transform="matrix(0.9781 0.2081 -0.2081 0.9781 113.5762 -47.1287)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="290.023" y="509.511" transform="matrix(0.9876 0.1569 -0.1569 0.9876 84.8663 -39.2327)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="300.347" y="510.865" transform="matrix(0.9945 0.1046 -0.1046 0.9945 55.9791 -28.667)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="310.728" y="511.675" transform="matrix(0.9986 0.0523 -0.0523 0.9986 27.6314 -15.5887)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       <rect x="320.326" y="506.326" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="2" height="24"/>
                   </g>
                   <g>
                       
                           <rect x="323.999" y="519.41" transform="matrix(0.0524 0.9986 -0.9986 0.0524 834.7169 161.0789)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.885"/>
                   </g>
                   <g>
                       
                           <rect x="334.389" y="518.587" transform="matrix(0.1045 0.9945 -0.9945 0.1045 823.7217 124.2271)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="344.723" y="517.222" transform="matrix(0.1564 0.9877 -0.9877 0.1564 809.7688 88.2741)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="354.97" y="515.318" transform="matrix(0.2078 0.9782 -0.9782 0.2078 792.9184 53.455)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="365.105" y="512.879" transform="matrix(0.2589 0.9659 -0.9659 0.2589 773.1757 19.9421)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="375.097" y="509.915" transform="matrix(0.309 0.9511 -0.9511 0.309 750.9126 -11.8111)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="384.92" y="506.43" transform="matrix(0.3584 0.9336 -0.9336 0.3584 726.1072 -41.7244)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="394.55" y="502.438" transform="matrix(0.4067 0.9136 -0.9136 0.4067 698.9918 -69.5427)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="403.954" y="497.945" transform="matrix(0.4541 0.891 -0.891 0.4541 669.6497 -95.1161)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="413.111" y="492.969" transform="matrix(0.5 0.866 -0.866 0.5 638.5042 -118.1713)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="421.996" y="487.519" transform="matrix(0.5446 0.8387 -0.8387 0.5446 605.6854 -138.6069)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="430.583" y="481.61" transform="matrix(0.5878 0.809 -0.809 0.5878 571.3662 -156.3047)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="438.851" y="475.261" transform="matrix(0.6293 0.7772 -0.7772 0.6293 535.9101 -171.1266)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="446.773" y="468.487" transform="matrix(0.6691 0.7431 -0.7431 0.6691 499.4734 -183.0045)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.888"/>
                   </g>
                   <g>
                       
                           <rect x="454.33" y="461.31" transform="matrix(0.7071 0.7071 -0.7071 0.7071 462.4186 -191.8704)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="461.503" y="453.745" transform="matrix(0.7431 0.6692 -0.6692 0.7431 425.0008 -197.6973)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.972" height="1.887"/>
                   </g>
                   <g>
                       
                           <rect x="468.267" y="445.817" transform="matrix(0.7772 0.6293 -0.6293 0.7772 387.3619 -200.4636)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.885"/>
                   </g>
                   <g>
                       
                           <rect x="474.608" y="437.544" transform="matrix(0.809 0.5878 -0.5878 0.809 349.98 -200.2087)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="480.509" y="428.952" transform="matrix(0.8387 0.5446 -0.5446 0.8387 312.9946 -196.9627)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="485.951" y="420.062" transform="matrix(0.866 0.5 -0.5 0.866 276.7361 -190.8121)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.973" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="490.919" y="410.9" transform="matrix(0.891 0.454 -0.454 0.891 241.3886 -181.8305)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="495.401" y="401.489" transform="matrix(0.9136 0.4066 -0.4066 0.9136 207.1838 -170.1252)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.977" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="499.387" y="391.859" transform="matrix(0.9336 0.3584 -0.3584 0.9336 174.4902 -155.91)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="502.861" y="382.032" transform="matrix(0.9511 0.3089 -0.3089 0.9511 143.3187 -139.2333)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.885"/>
                   </g>
                   <g>
                       
                           <rect x="505.818" y="372.037" transform="matrix(0.9659 0.2588 -0.2588 0.9659 114.055 -120.4001)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="508.247" y="361.901" transform="matrix(0.9782 0.2079 -0.2079 0.9782 86.7082 -99.4846)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.974" height="1.885"/>
                   </g>
                   <g>
                       
                           <rect x="510.14" y="351.65" transform="matrix(0.9877 0.1564 -0.1564 0.9877 61.5316 -76.7783)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.977" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="511.495" y="341.316" transform="matrix(0.9945 0.1045 -0.1045 0.9945 38.6257 -52.4798)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.975" height="1.886"/>
                   </g>
                   <g>
                       
                           <rect x="512.309" y="330.924" transform="matrix(0.9986 0.0523 -0.0523 0.9986 18.0865 -26.8074)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="16.976" height="1.885"/>
                   </g>
                   <g>
                       <rect x="505.326" y="321.326" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="24" height="2"/>
                   </g>
                   <g>
                       
                           <rect x="519.838" y="302.741" transform="matrix(0.0523 0.9986 -0.9986 0.0523 804.3464 -225.1177)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="519.026" y="292.351" transform="matrix(0.1041 0.9946 -0.9946 0.1041 765.0477 -247.6212)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="517.672" y="282.016" transform="matrix(0.1569 0.9876 -0.9876 0.1569 724.1609 -267.2638)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="515.778" y="271.767" transform="matrix(0.2081 0.9781 -0.9781 0.2081 683.3127 -283.4752)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="513.35" y="261.632" transform="matrix(0.2583 0.9661 -0.9661 0.2583 642.3804 -296.4984)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="510.396" y="251.636" transform="matrix(0.3091 0.951 -0.951 0.3091 600.6849 -306.5763)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="506.922" y="241.81" transform="matrix(0.3587 0.9335 -0.9335 0.3587 559.3445 -313.5515)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.975"/>
                   </g>
                   <g>
                       
                           <rect x="502.938" y="232.179" transform="matrix(0.4059 0.9139 -0.9139 0.4059 519.2767 -317.5264)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="498.456" y="222.77" transform="matrix(0.454 0.891 -0.891 0.454 478.701 -318.6981)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.974"/>
                   </g>
                   <g>
                       
                           <rect x="493.488" y="213.607" transform="matrix(0.5001 0.8659 -0.8659 0.5001 439.4632 -317.1331)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="488.047" y="204.717" transform="matrix(0.5443 0.8389 -0.8389 0.5443 401.7137 -313.0559)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="482.149" y="196.124" transform="matrix(0.5876 0.8092 -0.8092 0.5876 364.7982 -306.5141)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect x="475.809" y="187.853" transform="matrix(0.6292 0.7773 -0.7773 0.6292 329.4043 -297.7547)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.976"/>
                   </g>
                   <g>
                       
                           <rect x="469.044" y="179.923" transform="matrix(0.6689 0.7434 -0.7434 0.6689 295.701 -286.9947)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.979"/>
                   </g>
                   <g>
                       
                           <rect x="461.873" y="172.359" transform="matrix(0.7071 0.7071 -0.7071 0.7071 263.4346 -274.2915)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect x="454.317" y="165.181" transform="matrix(0.7434 0.6689 -0.6689 0.7434 232.98 -259.9365)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect x="446.396" y="158.408" transform="matrix(0.7768 0.6297 -0.6297 0.7768 204.9419 -244.4551)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect x="438.13" y="152.059" transform="matrix(0.809 0.5878 -0.5878 0.809 178.2089 -227.4096)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.978"/>
                   </g>
                   <g>
                       
                           <rect x="429.544" y="146.151" transform="matrix(0.8387 0.5446 -0.5446 0.8387 153.6668 -209.5074)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-10" x="420.66" y="140.701" transform="matrix(0.866 0.5 -0.5 0.866 131.0929 -190.8263)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-09" x="411.503" y="135.723" transform="matrix(0.891 0.454 -0.454 0.891 110.4399 -171.5433)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-08" x="402.1" y="131.23" transform="matrix(0.9135 0.4068 -0.4068 0.9135 91.6973 -151.8782)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.887" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-07" x="392.472" y="127.237" transform="matrix(0.9334 0.3588 -0.3588 0.9334 74.8859 -132.1102)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.978"/>
                   </g>
                   <g>
                       
                           <rect id="dash-06" x="382.65" y="123.753" transform="matrix(0.951 0.3092 -0.3092 0.951 59.6929 -112.1358)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.885" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-05" x="372.658" y="120.787" transform="matrix(0.9658 0.2592 -0.2592 0.9658 46.275 -92.4169)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-04" x="362.524" y="118.349" transform="matrix(0.978 0.2084 -0.2084 0.978 34.4128 -72.9608)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-03" x="352.277" y="116.444" transform="matrix(0.9877 0.1567 -0.1567 0.9877 23.9346 -53.7953)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-02" x="341.945" y="115.078" transform="matrix(0.9945 0.1051 -0.1051 0.9945 14.8841 -35.3496)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.886" height="16.977"/>
                   </g>
                   <g>
                       
                           <rect id="dash-01" x="331.555" y="114.254" transform="matrix(0.9986 0.0528 -0.0528 0.9986 6.9489 -17.3947)" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="1.885" height="16.977"/>
                   </g>
               </g>
           </g>
           <g id="nums">
               <g id="num12">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M323.292,36.121c-0.673,0.598-1.592,1.645-2.757,3.138c-0.628,1.375-2.263,5.707-4.908,12.998
                               c-2.734,7.53-4.1,11.624-4.1,12.28c0,0.658,1.344,5.916,4.033,15.776c2.599,9.562,4.19,15.209,4.773,16.942
                               c0.358,0.957,0.908,1.853,1.647,2.689c0.74,0.837,1.177,1.434,1.312,1.792c-0.539-0.061-1.278-0.061-2.219,0
                               c-1.075,0-1.793,0-2.151,0c-2.735,0-4.729-0.21-5.983-0.627c0.582-1.375,0.874-2.286,0.874-2.734s-0.941-3.899-2.823-10.354
                               c-1.793-6.214-2.981-9.95-3.563-11.205h-0.134c-0.135,0-0.248,0.089-0.337,0.269c-0.717,1.555-2.107,5.17-4.168,10.847
                               c-2.196,6.037-3.294,9.472-3.294,10.308c0,0.419,0.246,1.375,0.739,2.869c-0.314,0.06-0.717,0.089-1.21,0.089
                               c-0.583,0-1.457-0.029-2.622-0.089c-1.166-0.059-2.041-0.09-2.623-0.09c1.031-0.119,1.849-0.955,2.454-2.51
                               c0.605-1.553,2.341-6.483,5.21-14.79c3.047-8.725,4.572-13.267,4.572-13.625c0-0.836-2.13-8.247-6.387-22.23
                               c-0.538-2.091-1.099-4.182-1.681-6.274c-0.672-2.45-1.523-4.272-2.554-5.468c2.375-0.478,4.212-0.717,5.513-0.717
                               c-0.18,0,1.277,0.33,4.37,0.986c-0.762,0.538-1.143,1.286-1.143,2.241c0,0.956,0.852,4.333,2.556,10.129
                               c1.613,5.499,2.733,8.934,3.361,10.309c0.493-0.836,1.143-2.21,1.949-4.124c0.538-1.374,1.547-4.153,3.025-8.336
                               c1.658-4.78,2.487-7.44,2.487-7.978c0-0.478-0.537-1.255-1.613-2.331c1.568-0.596,2.913-0.896,4.033-0.896
                               C320.378,35.404,321.499,35.644,323.292,36.121z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M336.537,101.289c-0.583,0.119-1.256,0.179-2.017,0.179c-0.629,0-3.563-0.269-8.808-0.807
                               c0.447-0.538,1.12-1.404,2.018-2.6c0-0.417,0-0.896,0-1.434c0-0.776-0.034-1.957-0.102-3.541
                               c-0.067-1.583-0.101-2.764-0.101-3.541c0-0.776,0.078-1.912,0.235-3.406c0.156-1.493,0.235-2.629,0.235-3.406V42.216
                               c0-1.075-0.201-2.331-0.605-3.765c-0.493-1.732-1.054-2.629-1.681-2.689c3.854-0.538,6.364-0.807,7.53-0.807
                               c0.627,0,1.567,0.24,2.823,0.717c-0.091,0.3-0.494,0.986-1.211,2.062c-0.537,0.778-0.806,1.524-0.806,2.241v53.693
                               c0,2.212,0.156,3.796,0.471,4.751C335.058,98.958,335.73,99.915,336.537,101.289z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M350.182,101.289c-0.582,0.119-1.255,0.179-2.017,0.179c-0.628,0-3.563-0.269-8.807-0.807
                               c0.447-0.538,1.12-1.404,2.018-2.6c0-0.417,0-0.896,0-1.434c0-0.776-0.034-1.957-0.102-3.541
                               c-0.067-1.583-0.102-2.764-0.102-3.541c0-0.776,0.078-1.912,0.235-3.406c0.157-1.493,0.236-2.629,0.236-3.406V42.216
                               c0-1.075-0.202-2.331-0.605-3.765c-0.494-1.732-1.054-2.629-1.681-2.689c3.854-0.538,6.364-0.807,7.53-0.807
                               c0.627,0,1.567,0.24,2.822,0.717c-0.09,0.3-0.493,0.986-1.21,2.062c-0.538,0.778-0.807,1.524-0.807,2.241v53.693
                               c0,2.212,0.156,3.796,0.471,4.751C348.704,98.958,349.376,99.915,350.182,101.289z"/>
                       </g>
                   </g>
               </g>
               <g id="num4">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M544.254,314.128c-0.119-0.583-0.179-1.255-0.179-2.017c0-0.628,0.269-3.563,0.807-8.807
                               c0.537,0.448,1.403,1.12,2.599,2.017c0.418,0,0.897,0,1.435,0c0.776,0,1.957-0.034,3.541-0.101
                               c1.583-0.067,2.764-0.101,3.541-0.101c0.775,0,1.912,0.078,3.406,0.235c1.492,0.157,2.629,0.235,3.406,0.235h40.517
                               c1.076,0,2.33-0.202,3.765-0.605c1.732-0.494,2.629-1.054,2.688-1.681c0.538,3.854,0.808,6.364,0.808,7.53
                               c0,0.627-0.239,1.568-0.717,2.823c-0.301-0.09-0.986-0.493-2.063-1.21c-0.777-0.538-1.523-0.807-2.24-0.807h-53.693
                               c-2.213,0-3.797,0.156-4.752,0.47C546.584,312.649,545.628,313.322,544.254,314.128z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M544.254,327.774c-0.119-0.583-0.179-1.254-0.179-2.017c0-0.628,0.269-3.563,0.807-8.807
                               c0.537,0.448,1.403,1.12,2.599,2.017c0.418,0,0.897,0,1.435,0c0.776,0,1.957-0.034,3.541-0.101
                               c1.583-0.068,2.764-0.101,3.541-0.101c0.775,0,1.912,0.078,3.406,0.235c1.492,0.157,2.629,0.235,3.406,0.235h40.517
                               c1.076,0,2.33-0.202,3.765-0.605c1.732-0.494,2.629-1.054,2.688-1.681c0.538,3.854,0.808,6.364,0.808,7.529
                               c0,0.628-0.239,1.569-0.717,2.823c-0.301-0.09-0.986-0.492-2.063-1.21c-0.777-0.537-1.523-0.806-2.24-0.806h-53.693
                               c-2.213,0-3.797,0.156-4.752,0.47C546.584,326.296,545.628,326.969,544.254,327.774z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M544.254,341.422c-0.119-0.583-0.179-1.255-0.179-2.017c0-0.629,0.269-3.563,0.807-8.808
                               c0.537,0.448,1.403,1.12,2.599,2.018c0.418,0,0.897,0,1.435,0c0.776,0,1.957-0.034,3.541-0.101
                               c1.583-0.067,2.764-0.102,3.541-0.102c0.775,0,1.912,0.078,3.406,0.235c1.492,0.157,2.629,0.235,3.406,0.235h40.517
                               c1.076,0,2.33-0.202,3.765-0.604c1.732-0.494,2.629-1.055,2.688-1.682c0.538,3.855,0.808,6.363,0.808,7.529
                               c0,0.627-0.239,1.569-0.717,2.824c-0.301-0.09-0.986-0.494-2.063-1.21c-0.777-0.538-1.523-0.807-2.24-0.807h-53.693
                               c-2.213,0-3.797,0.156-4.752,0.471C546.584,339.942,545.628,340.615,544.254,341.422z"/>
                       </g>
                   </g>
               </g>
               <g id="num9">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M102.54,335.759c0.119,0.583,0.18,1.256,0.18,2.018c0,0.628-0.269,3.563-0.807,8.808
                               c-0.538-0.449-1.404-1.12-2.6-2.018c-0.417,0-0.896,0-1.435,0c-0.776,0-1.956,0.033-3.54,0.1
                               c-1.583,0.068-2.764,0.103-3.542,0.103c-0.776,0-1.912-0.078-3.406-0.236c-1.493-0.156-2.629-0.234-3.407-0.234H43.468
                               c-1.076,0-2.33,0.201-3.765,0.604c-1.733,0.493-2.629,1.054-2.689,1.682c-0.538-3.855-0.807-6.364-0.807-7.53
                               c0-0.628,0.24-1.568,0.717-2.824c0.3,0.09,0.986,0.493,2.062,1.21c0.777,0.538,1.524,0.808,2.241,0.808h53.694
                               c2.212,0,3.796-0.156,4.751-0.471C100.21,337.238,101.166,336.566,102.54,335.759z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M37.374,304.499c0.597,0.672,1.644,1.591,3.137,2.756c1.375,0.628,5.707,2.264,12.998,4.907
                               c7.529,2.734,11.624,4.102,12.281,4.102c0.659,0,5.917-1.345,15.777-4.034c9.561-2.599,15.209-4.19,16.941-4.773
                               c0.957-0.358,1.854-0.908,2.689-1.647c0.837-0.739,1.434-1.176,1.792-1.311c-0.06,0.538-0.06,1.277,0,2.218
                               c0,1.076,0,1.793,0,2.151c0,2.734-0.21,4.729-0.627,5.983c-1.374-0.582-2.286-0.874-2.734-0.874
                               c-0.449,0-3.899,0.941-10.353,2.824c-6.215,1.793-9.951,2.981-11.205,3.563v0.135c0,0.134,0.089,0.247,0.268,0.336
                               c1.555,0.717,5.169,2.107,10.846,4.168c6.037,2.197,9.473,3.294,10.309,3.294c0.418,0,1.375-0.246,2.868-0.739
                               c0.061,0.314,0.09,0.717,0.09,1.21c0,0.583-0.03,1.457-0.09,2.622c-0.059,1.166-0.089,2.04-0.089,2.622
                               c-0.12-1.03-0.955-1.849-2.51-2.454c-1.553-0.605-6.483-2.341-14.79-5.21c-8.724-3.047-13.266-4.571-13.625-4.571
                               c-0.836,0-8.248,2.129-22.231,6.387c-2.09,0.538-4.182,1.099-6.274,1.681c-2.45,0.672-4.272,1.524-5.468,2.555
                               c-0.479-2.375-0.717-4.212-0.717-5.513c0,0.179,0.329-1.278,0.986-4.37c0.538,0.763,1.286,1.143,2.241,1.143
                               c0.957,0,4.333-0.851,10.129-2.555c5.499-1.614,8.935-2.733,10.309-3.361c-0.836-0.493-2.21-1.143-4.124-1.95
                               c-1.374-0.538-4.152-1.546-8.336-3.025c-4.78-1.658-7.44-2.487-7.978-2.487c-0.478,0-1.255,0.538-2.331,1.613
                               c-0.597-1.568-0.896-2.913-0.896-4.034C36.656,307.412,36.895,306.292,37.374,304.499z"/>
                       </g>
                   </g>
               </g>
               <g id="num10">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M63.878,192.049c0.224,0.872,0.731,2.167,1.525,3.887c0.935,1.189,4.035,4.627,9.303,10.318
                               c5.44,5.881,8.453,8.972,9.037,9.273c0.585,0.302,5.875,1.516,15.871,3.644c9.689,2.072,15.439,3.246,17.245,3.521
                               c1.015,0.12,2.063,0.043,3.145-0.231c1.083-0.274,1.814-0.389,2.194-0.344c-0.3,0.451-0.639,1.108-1.017,1.972
                               c-0.493,0.956-0.822,1.594-0.986,1.912c-1.253,2.431-2.354,4.107-3.3,5.032c-0.955-1.147-1.631-1.825-2.029-2.03
                               c-0.398-0.206-3.898-0.951-10.496-2.234c-6.345-1.254-10.21-1.91-11.592-1.968l-0.062,0.12c-0.061,0.119-0.033,0.26,0.085,0.422
                               c1.054,1.35,3.63,4.241,7.73,8.675c4.36,4.719,6.911,7.269,7.654,7.652c0.372,0.191,1.335,0.412,2.889,0.657
                               c-0.09,0.307-0.249,0.679-0.475,1.117c-0.267,0.518-0.693,1.281-1.281,2.289c-0.587,1.009-1.015,1.772-1.282,2.29
                               c0.366-0.971-0.001-2.081-1.106-3.331c-1.104-1.25-4.69-5.052-10.758-11.408c-6.357-6.707-9.696-10.143-10.015-10.307
                               c-0.744-0.383-8.307-1.887-22.687-4.51c-2.104-0.48-4.221-0.94-6.347-1.381c-2.486-0.525-4.496-0.603-6.03-0.235
                               c0.663-2.331,1.292-4.073,1.888-5.229c-0.082,0.16,0.878-0.985,2.879-3.433c0.129,0.924,0.619,1.605,1.467,2.042
                               c0.851,0.438,4.242,1.229,10.174,2.371c5.626,1.086,9.194,1.665,10.703,1.736c-0.518-0.821-1.441-2.029-2.772-3.622
                               c-0.975-1.108-2.982-3.277-6.023-6.509c-3.489-3.664-5.472-5.62-5.951-5.867c-0.425-0.219-1.362-0.097-2.811,0.366
                               c0.188-1.667,0.538-3,1.052-3.996C61.906,194.311,62.632,193.424,63.878,192.049z"/>
                       </g>
                   </g>
               </g>
               <g id="num11">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M165.19,82.249c-0.202,0.876-0.349,2.261-0.437,4.153c0.282,1.486,1.451,5.967,3.506,13.444
                               c2.12,7.725,3.371,11.856,3.75,12.392c0.381,0.538,4.517,4.052,12.409,10.544c7.646,6.302,12.209,9.992,13.685,11.068
                               c0.846,0.574,1.812,0.988,2.899,1.243c1.087,0.256,1.788,0.49,2.106,0.705c-0.474,0.263-1.078,0.69-1.811,1.282
                               c-0.878,0.622-1.463,1.036-1.755,1.243c-2.232,1.581-3.981,2.562-5.246,2.946c-0.319-1.458-0.607-2.371-0.867-2.736
                               c-0.259-0.366-3.022-2.639-8.288-6.818c-5.055-4.035-8.184-6.397-9.382-7.084l-0.11,0.078c-0.11,0.078-0.149,0.215-0.119,0.414
                               c0.313,1.683,1.267,5.436,2.866,11.26c1.696,6.197,2.786,9.634,3.269,10.317c0.242,0.341,0.995,0.98,2.262,1.914
                               c-0.222,0.23-0.534,0.487-0.937,0.772c-0.476,0.337-1.206,0.818-2.191,1.442c-0.986,0.625-1.718,1.106-2.192,1.442
                               c0.771-0.692,0.957-1.848,0.552-3.466c-0.405-1.618-1.835-6.644-4.295-15.082c-2.555-8.881-3.935-13.469-4.142-13.761
                               c-0.483-0.682-6.504-5.5-18.06-14.453c-1.647-1.396-3.313-2.778-4.997-4.148c-1.965-1.611-3.713-2.606-5.245-2.987
                               c1.663-1.763,3.024-3.019,4.085-3.77c-0.146,0.104,1.233-0.47,4.136-1.722c-0.311,0.88-0.19,1.71,0.362,2.49
                               c0.553,0.781,3.198,3.044,7.939,6.79c4.495,3.555,7.393,5.712,8.7,6.47c-0.082-0.967-0.345-2.463-0.792-4.492
                               c-0.354-1.432-1.138-4.282-2.349-8.551c-1.409-4.858-2.269-7.509-2.58-7.948c-0.275-0.39-1.164-0.714-2.663-0.97
                               c0.935-1.394,1.859-2.414,2.774-3.062C162.397,83.348,163.451,82.895,165.19,82.249z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M213.657,127.78c-0.407,0.433-0.92,0.871-1.542,1.312c-0.512,0.363-3.063,1.839-7.653,4.431
                               c0.054-0.697,0.103-1.793,0.145-3.287c-0.241-0.34-0.519-0.731-0.83-1.17c-0.449-0.634-1.157-1.578-2.128-2.832
                               c-0.97-1.253-1.679-2.197-2.129-2.832c-0.448-0.633-1.041-1.605-1.776-2.916c-0.734-1.31-1.327-2.282-1.776-2.917
                               l-23.414-33.066c-0.622-0.878-1.511-1.786-2.669-2.724c-1.404-1.128-2.379-1.537-2.926-1.223
                               c2.835-2.666,4.728-4.336,5.679-5.01c0.512-0.363,1.419-0.711,2.719-1.046c0.1,0.297,0.167,1.089,0.204,2.382
                               c0.01,0.944,0.223,1.709,0.637,2.294l31.028,43.82c1.278,1.805,2.321,3.007,3.129,3.606
                               C211.104,126.732,212.205,127.124,213.657,127.78z"/>
                       </g>
                   </g>
               </g>
               <g id="num4_1_">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M524.346,413.594c0.176-0.568,0.448-1.187,0.815-1.854c0.302-0.55,1.952-2.992,4.95-7.327
                               c0.256,0.651,0.691,1.657,1.306,3.021c0.366,0.2,0.786,0.432,1.257,0.691c0.68,0.374,1.73,0.914,3.15,1.618
                               c1.421,0.704,2.471,1.244,3.151,1.618c0.68,0.374,1.639,0.99,2.871,1.849c1.232,0.857,2.19,1.474,2.871,1.848l35.499,19.531
                               c0.942,0.519,2.138,0.947,3.589,1.285c1.757,0.402,2.813,0.345,3.166-0.177c-1.387,3.637-2.359,5.965-2.922,6.986
                               c-0.303,0.549-0.965,1.259-1.99,2.128c-0.219-0.224-0.625-0.907-1.222-2.054c-0.423-0.846-0.946-1.44-1.575-1.787
                               l-47.044-25.883c-1.938-1.066-3.4-1.692-4.388-1.878C527.1,413.42,525.938,413.549,524.346,413.594z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M561.56,482.256c-0.562-1.333-1.198-2.348-1.905-3.043c-0.709-0.697-2.36-2.22-4.956-4.568
                               c-2.596-2.35-6.531-5.795-11.809-10.334c-1.367-1.111-3.323-2.826-5.865-5.146c-0.312-0.428-0.891-1.079-1.738-1.954
                               c-0.849-0.877-2.009-1.898-3.48-3.066c-2.734-2.221-6.02-5.051-9.855-8.491c-3.168-2.921-6.348-5.821-9.537-8.7
                               c0.078-1.135,0.365-2.153,0.862-3.056c0.411-0.746,1.139-1.574,2.184-2.481c2.462,0.484,5.421,1.242,8.878,2.275
                               c2.94,0.851,5.872,1.722,8.792,2.612c1.442,0.229,3.562,0.655,6.359,1.273c6.337,1.747,15.879,4.363,28.627,7.847
                               c0.126,0.02,1.717,0.535,4.772,1.552c2.006,0.694,3.545,1.056,4.622,1.085c0.452,0.044,0.986-0.122,1.604-0.498
                               c0.861-0.447,1.375-0.702,1.545-0.762l1.178,0.648l0.014,0.161c-0.173,0.314-0.488,0.702-0.947,1.165
                               c-0.46,0.465-0.766,0.833-0.917,1.108c-0.303,0.549-0.655,1.378-1.06,2.485c-0.405,1.107-0.749,1.916-1.03,2.427
                               c-0.173,0.314-0.619,0.631-1.341,0.95c-1.145-1.143-1.771-1.741-1.874-1.798c-0.21-0.116-0.973-0.28-2.288-0.491
                               c-1.622-0.279-2.521-0.441-2.698-0.488c-5.562-1.423-12.714-3.363-21.455-5.819c-11.737-3.338-18.909-5.366-21.515-6.082
                               c-1.608-0.424-3.414-0.678-5.417-0.756c-0.083,0.771,1.914,2.844,5.994,6.214c2.41,1.94,5.445,4.607,9.102,8.001
                               c4.68,4.263,7.683,6.989,9.007,8.178c0.375,0.309,3.163,2.866,8.362,7.671c4.658,4.302,7.118,6.524,7.381,6.67
                               c0.837,0.46,1.988,0.479,3.448,0.055c-0.305,1.418-0.864,2.875-1.686,4.367c-0.151,0.275-0.319,0.516-0.501,0.723
                               C562.31,482.131,562.026,482.153,561.56,482.256z"/>
                       </g>
                   </g>
               </g>
               <g id="num5">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M456.908,578.682c0.149-1.439,0.082-2.635-0.202-3.586c-0.286-0.952-0.999-3.081-2.141-6.392
                               c-1.142-3.309-2.93-8.224-5.365-14.747c-0.663-1.632-1.549-4.076-2.659-7.335c-0.065-0.525-0.26-1.374-0.58-2.55
                               c-0.321-1.178-0.845-2.632-1.572-4.363c-1.324-3.265-2.838-7.327-4.541-12.191c-1.368-4.085-2.755-8.16-4.162-12.22
                               c0.615-0.956,1.357-1.71,2.229-2.261c0.72-0.457,1.756-0.83,3.109-1.122c1.924,1.61,4.15,3.701,6.682,6.273
                               c2.167,2.163,4.315,4.339,6.444,6.527c1.152,0.896,2.805,2.291,4.957,4.181c4.711,4.586,11.81,11.477,21.299,20.675
                               c0.103,0.076,1.246,1.296,3.434,3.66c1.423,1.574,2.599,2.634,3.526,3.179c0.376,0.256,0.925,0.368,1.646,0.336
                               c0.97,0.021,1.543,0.048,1.72,0.076l0.721,1.137l-0.066,0.147c-0.303,0.192-0.766,0.381-1.392,0.565s-1.071,0.36-1.337,0.528
                               c-0.529,0.336-1.238,0.891-2.127,1.666c-0.889,0.776-1.579,1.318-2.072,1.631c-0.303,0.191-0.846,0.253-1.633,0.186
                               c-0.452-1.554-0.712-2.379-0.775-2.479c-0.128-0.202-0.716-0.713-1.768-1.532c-1.286-1.025-1.995-1.602-2.13-1.729
                               c-4.186-3.928-9.518-9.075-15.992-15.441c-8.674-8.582-13.98-13.815-15.918-15.7c-1.204-1.146-2.665-2.238-4.382-3.272
                               c-0.445,0.636,0.307,3.414,2.256,8.333c1.178,2.862,2.551,6.662,4.119,11.398c2.044,5.99,3.361,9.826,3.949,11.506
                               c0.18,0.451,1.39,4.036,3.629,10.753c2.008,6.014,3.09,9.147,3.251,9.4c0.512,0.808,1.511,1.379,2.994,1.711
                               c-0.949,1.097-2.143,2.102-3.582,3.013c-0.264,0.168-0.529,0.298-0.786,0.393C457.625,578.934,457.365,578.815,456.908,578.682z
                               "/>
                       </g>
                   </g>
               </g>
               <g id="num8">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M110.423,398.375c-0.989,0.184-2.452,0.812-4.39,1.878l-47.042,25.882
                               c-0.629,0.347-1.152,0.941-1.575,1.788c-0.597,1.146-1.003,1.829-1.222,2.054c-1.024-0.87-1.688-1.579-1.99-2.128
                               c-0.562-1.021-1.537-3.351-2.922-6.986c0.355,0.521,1.41,0.579,3.166,0.176c1.451-0.337,2.648-0.766,3.591-1.284l35.498-19.531
                               c0.682-0.375,1.639-0.992,2.871-1.849c1.234-0.857,2.191-1.473,2.871-1.848c0.682-0.374,1.732-0.914,3.151-1.618
                               c1.42-0.705,2.471-1.244,3.151-1.618c0.471-0.26,0.891-0.49,1.256-0.691c0.616-1.362,1.051-2.369,1.306-3.021
                               c3,4.336,4.65,6.776,4.953,7.327c0.367,0.667,0.638,1.285,0.815,1.854C112.315,398.715,111.154,398.586,110.423,398.375z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M117,410.331c-0.987,0.185-2.451,0.811-4.389,1.878l-47.043,25.882
                               c-0.628,0.347-1.152,0.941-1.575,1.788c-0.597,1.145-1.003,1.83-1.223,2.054c-1.023-0.87-1.687-1.578-1.99-2.127
                               c-0.562-1.021-1.536-3.353-2.922-6.987c0.355,0.52,1.41,0.578,3.167,0.176c1.451-0.338,2.648-0.766,3.589-1.284l35.499-19.531
                               c0.682-0.375,1.638-0.991,2.872-1.849c1.233-0.857,2.19-1.474,2.871-1.847c0.681-0.375,1.731-0.915,3.151-1.619
                               c1.42-0.705,2.471-1.244,3.15-1.618c0.472-0.259,0.892-0.49,1.257-0.691c0.615-1.362,1.05-2.369,1.305-3.021
                               c2.999,4.336,4.649,6.777,4.953,7.329c0.366,0.667,0.638,1.284,0.815,1.853C118.894,410.67,117.731,410.543,117,410.331z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M123.58,422.287c-0.989,0.186-2.452,0.812-4.39,1.878l-47.042,25.883
                               c-0.629,0.346-1.152,0.94-1.575,1.787c-0.597,1.146-1.003,1.831-1.222,2.055c-1.024-0.87-1.688-1.578-1.99-2.128
                               c-0.562-1.021-1.537-3.352-2.922-6.986c0.355,0.52,1.41,0.578,3.166,0.176c1.451-0.338,2.648-0.766,3.591-1.284l35.498-19.531
                               c0.682-0.375,1.639-0.992,2.871-1.849c1.234-0.858,2.191-1.474,2.871-1.848c0.682-0.374,1.732-0.914,3.151-1.618
                               c1.42-0.705,2.471-1.244,3.151-1.618c0.471-0.26,0.891-0.49,1.256-0.692c0.616-1.362,1.051-2.368,1.306-3.021
                               c3,4.336,4.65,6.777,4.953,7.328c0.367,0.667,0.638,1.284,0.815,1.854C125.472,422.627,124.311,422.5,123.58,422.287z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M88.994,491.268c-0.18-0.207-0.348-0.448-0.5-0.723c-0.821-1.493-1.384-2.949-1.686-4.367
                               c1.461,0.424,2.61,0.405,3.448-0.055c0.263-0.145,2.722-2.369,7.38-6.67c5.2-4.806,7.988-7.361,8.364-7.67
                               c1.325-1.19,4.326-3.916,9.005-8.178c3.657-3.395,6.691-6.062,9.103-8.001c4.079-3.371,6.078-5.443,5.993-6.215
                               c-2.002,0.079-3.807,0.331-5.416,0.755c-2.606,0.718-9.777,2.744-21.515,6.082c-8.741,2.458-15.895,4.398-21.455,5.82
                               c-0.18,0.047-1.077,0.21-2.698,0.487c-1.315,0.212-2.079,0.376-2.288,0.491c-0.104,0.058-0.729,0.656-1.875,1.799
                               c-0.722-0.32-1.169-0.636-1.342-0.95c-0.281-0.511-0.623-1.319-1.028-2.427s-0.759-1.936-1.061-2.484
                               c-0.152-0.276-0.457-0.646-0.917-1.109c-0.458-0.463-0.775-0.852-0.947-1.166l0.014-0.16l1.178-0.647
                               c0.17,0.059,0.683,0.313,1.543,0.761c0.617,0.376,1.152,0.543,1.604,0.498c1.076-0.028,2.616-0.391,4.621-1.085
                               c3.056-1.017,4.648-1.533,4.773-1.551c12.748-3.485,22.29-6.101,28.627-7.848c2.797-0.618,4.916-1.043,6.358-1.272
                               c2.92-0.892,5.852-1.763,8.793-2.613c3.457-1.033,6.416-1.791,8.876-2.275c1.047,0.907,1.773,1.734,2.184,2.482
                               c0.496,0.902,0.785,1.921,0.862,3.055c-3.189,2.879-6.368,5.78-9.536,8.7c-3.838,3.44-7.122,6.271-9.856,8.491
                               c-1.472,1.167-2.633,2.189-3.481,3.066c-0.848,0.875-1.426,1.526-1.739,1.953c-2.542,2.32-4.497,4.034-5.865,5.146
                               c-5.277,4.54-9.214,7.986-11.809,10.334c-2.595,2.349-4.246,3.872-4.954,4.568c-0.707,0.697-1.345,1.71-1.907,3.044
                               C89.383,491.231,89.1,491.209,88.994,491.268z"/>
                       </g>
                   </g>
               </g>
               <g id="num7">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M186.208,501.995c-0.778,0.639-1.757,1.893-2.941,3.762l-28.74,45.354
                               c-0.384,0.605-0.557,1.379-0.519,2.324c0.03,1.291,0.004,2.088-0.081,2.39c-1.316-0.269-2.239-0.57-2.769-0.906
                               c-0.985-0.624-2.96-2.194-5.929-4.712c0.563,0.284,1.515-0.173,2.859-1.371c1.108-0.996,1.95-1.947,2.525-2.857l21.688-34.223
                               c0.417-0.657,0.958-1.659,1.625-3.004c0.667-1.347,1.208-2.348,1.624-3.003c0.417-0.657,1.076-1.636,1.98-2.938
                               c0.905-1.302,1.566-2.281,1.981-2.937c0.288-0.454,0.545-0.859,0.768-1.212c-0.118-1.49-0.223-2.582-0.313-3.275
                               c4.718,2.353,7.341,3.697,7.872,4.033c0.643,0.407,1.179,0.817,1.607,1.23C188.029,501.381,186.949,501.83,186.208,501.995z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M197.734,509.3c-0.778,0.639-1.757,1.893-2.941,3.761l-28.74,45.354
                               c-0.384,0.605-0.557,1.38-0.519,2.324c0.03,1.293,0.004,2.088-0.081,2.39c-1.316-0.269-2.239-0.57-2.769-0.906
                               c-0.985-0.623-2.96-2.194-5.929-4.712c0.563,0.286,1.516-0.172,2.86-1.371c1.108-0.995,1.951-1.948,2.526-2.855l21.687-34.225
                               c0.417-0.657,0.957-1.658,1.625-3.003c0.667-1.348,1.208-2.349,1.624-3.004c0.417-0.656,1.076-1.636,1.98-2.936
                               c0.905-1.303,1.566-2.282,1.981-2.938c0.288-0.454,0.545-0.859,0.769-1.212c-0.118-1.49-0.224-2.581-0.314-3.275
                               c4.718,2.353,7.341,3.696,7.872,4.032c0.643,0.408,1.179,0.819,1.607,1.232C199.556,508.685,198.475,509.133,197.734,509.3z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M200.684,586.408c-0.258-0.094-0.522-0.224-0.786-0.392c-1.439-0.912-2.633-1.917-3.583-3.013
                               c1.485-0.334,2.483-0.904,2.995-1.71c0.16-0.254,1.242-3.389,3.251-9.401c2.239-6.718,3.45-10.302,3.63-10.753
                               c0.587-1.681,1.903-5.517,3.948-11.507c1.568-4.735,2.942-8.535,4.119-11.397c1.95-4.919,2.702-7.697,2.255-8.333
                               c-1.716,1.033-3.176,2.125-4.381,3.271c-1.938,1.885-7.244,7.118-15.918,15.701c-6.475,6.366-11.806,11.514-15.993,15.44
                               c-0.134,0.127-0.842,0.702-2.129,1.729c-1.051,0.82-1.639,1.33-1.768,1.533c-0.064,0.1-0.322,0.926-0.775,2.479
                               c-0.786,0.067-1.331,0.006-1.634-0.187c-0.492-0.312-1.182-0.855-2.07-1.63c-0.889-0.775-1.598-1.33-2.127-1.667
                               c-0.266-0.168-0.712-0.345-1.337-0.528c-0.626-0.185-1.09-0.373-1.393-0.564l-0.065-0.148l0.72-1.135
                               c0.178-0.03,0.75-0.055,1.72-0.077c0.721,0.033,1.271-0.08,1.646-0.337c0.929-0.545,2.103-1.604,3.526-3.178
                               c2.188-2.364,3.332-3.584,3.434-3.66c9.49-9.199,16.589-16.09,21.299-20.675c2.152-1.891,3.805-3.285,4.957-4.181
                               c2.129-2.189,4.278-4.365,6.446-6.528c2.531-2.571,4.757-4.662,6.679-6.272c1.355,0.291,2.391,0.665,3.111,1.121
                               c0.869,0.552,1.613,1.305,2.227,2.261c-1.406,4.061-2.793,8.134-4.161,12.221c-1.702,4.863-3.217,8.927-4.542,12.19
                               c-0.728,1.731-1.252,3.187-1.571,4.363c-0.322,1.177-0.515,2.025-0.582,2.551c-1.109,3.258-1.996,5.702-2.658,7.336
                               c-2.436,6.521-4.224,11.438-5.365,14.745c-1.142,3.31-1.854,5.44-2.14,6.392c-0.284,0.951-0.353,2.146-0.203,3.586
                               C201.008,586.189,200.748,586.307,200.684,586.408z"/>
                       </g>
                   </g>
               </g>
               <g id="num2">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M524.328,223.753c0.988-0.185,2.451-0.812,4.389-1.878l47.044-25.884
                               c0.628-0.345,1.152-0.94,1.575-1.786c0.598-1.146,1.004-1.831,1.223-2.054c1.023,0.87,1.687,1.578,1.988,2.128
                               c0.563,1.021,1.537,3.351,2.924,6.986c-0.354-0.521-1.411-0.58-3.167-0.177c-1.451,0.338-2.646,0.766-3.589,1.285
                               l-35.499,19.531c-0.681,0.375-1.638,0.993-2.871,1.849c-1.233,0.857-2.19,1.475-2.871,1.848
                               c-0.681,0.375-1.731,0.914-3.151,1.618c-1.42,0.705-2.47,1.244-3.149,1.619c-0.472,0.259-0.892,0.49-1.258,0.691
                               c-0.614,1.363-1.05,2.369-1.306,3.021c-2.998-4.336-4.648-6.777-4.951-7.328c-0.367-0.667-0.639-1.285-0.815-1.853
                               C522.435,223.412,523.597,223.541,524.328,223.753z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M517.75,211.797c0.988-0.185,2.452-0.812,4.39-1.878l47.043-25.884c0.628-0.345,1.153-0.94,1.575-1.786
                               c0.596-1.146,1.002-1.831,1.223-2.054c1.023,0.869,1.687,1.578,1.989,2.128c0.563,1.021,1.536,3.351,2.923,6.986
                               c-0.354-0.521-1.41-0.58-3.166-0.177c-1.451,0.338-2.648,0.766-3.592,1.285l-35.497,19.531
                               c-0.681,0.375-1.639,0.993-2.871,1.849c-1.232,0.857-2.191,1.475-2.871,1.849c-0.682,0.375-1.731,0.914-3.151,1.617
                               c-1.42,0.705-2.471,1.244-3.15,1.619c-0.471,0.259-0.891,0.49-1.256,0.691c-0.615,1.363-1.051,2.369-1.306,3.021
                               c-3-4.335-4.649-6.777-4.953-7.328c-0.367-0.667-0.637-1.285-0.813-1.853C515.857,211.456,517.019,211.584,517.75,211.797z"/>
                       </g>
                   </g>
               </g>
               <g id="num1">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M449.728,137.915c0.802-0.607,1.831-1.821,3.089-3.64l30.529-44.169c0.408-0.59,0.612-1.357,0.611-2.302
                               c0.022-1.292,0.08-2.087,0.177-2.385c1.304,0.321,2.214,0.659,2.73,1.016c0.958,0.663,2.87,2.311,5.735,4.945
                               c-0.55-0.308-1.521,0.111-2.912,1.256c-1.147,0.95-2.026,1.868-2.639,2.753l-23.037,33.329
                               c-0.442,0.639-1.023,1.618-1.743,2.936c-0.721,1.319-1.302,2.298-1.743,2.936c-0.442,0.64-1.142,1.591-2.097,2.855
                               c-0.955,1.265-1.656,2.217-2.097,2.855c-0.306,0.443-0.578,0.836-0.815,1.18c0.059,1.495,0.118,2.589,0.182,3.286
                               c-4.62-2.54-7.188-3.987-7.704-4.344c-0.626-0.433-1.145-0.865-1.557-1.294C447.882,138.456,448.98,138.051,449.728,137.915z"/>
                       </g>
                   </g>
               </g>
               <g id="num6">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M309.341,607.901c0.897-1.136,1.479-2.183,1.748-3.138c0.269-0.957,0.806-3.138,1.614-6.544
                               c0.807-3.405,1.927-8.515,3.361-15.327c0.314-1.735,0.874-4.274,1.681-7.62c0.224-0.479,0.516-1.299,0.874-2.465
                               c0.359-1.165,0.696-2.676,1.009-4.526c0.628-3.467,1.524-7.709,2.688-12.729c1.032-4.184,2.041-8.367,3.026-12.549
                               c1.031-0.479,2.063-0.718,3.092-0.718c0.853,0,1.929,0.238,3.228,0.718c0.763,2.39,1.524,5.347,2.285,8.874
                               c0.674,2.987,1.323,5.976,1.95,8.963c0.494,1.375,1.144,3.438,1.95,6.186c1.523,6.394,3.831,16.016,6.924,28.864
                               c0.045,0.119,0.359,1.762,0.941,4.93c0.359,2.092,0.785,3.614,1.277,4.571c0.18,0.418,0.583,0.808,1.21,1.166
                               c0.807,0.537,1.277,0.865,1.412,0.986v1.344l-0.135,0.09c-0.358,0-0.851-0.09-1.479-0.269c-0.627-0.18-1.098-0.269-1.412-0.269
                               c-0.627,0-1.523,0.089-2.688,0.269c-1.165,0.179-2.039,0.269-2.622,0.269c-0.358,0-0.852-0.239-1.479-0.717
                               c0.448-1.555,0.672-2.392,0.672-2.51c0-0.24-0.224-0.986-0.672-2.24c-0.538-1.556-0.829-2.421-0.874-2.601
                               c-1.435-5.558-3.183-12.759-5.244-21.603c-2.732-11.893-4.414-19.153-5.042-21.782c-0.403-1.614-1.053-3.316-1.949-5.109
                               c-0.716,0.298-1.568,3.048-2.556,8.247c-0.537,3.047-1.411,6.991-2.621,11.832c-1.479,6.154-2.42,10.098-2.824,11.832
                               c-0.089,0.478-0.985,4.152-2.688,11.025c-1.523,6.154-2.286,9.382-2.286,9.681c0,0.955,0.538,1.973,1.614,3.048
                               c-1.389,0.418-2.935,0.628-4.639,0.628c-0.313,0-0.605-0.031-0.874-0.09C309.812,608.498,309.655,608.26,309.341,607.901z"/>
                       </g>
                   </g>
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M294.148,542.195c0.583-0.119,1.255-0.178,2.017-0.178c0.629,0,3.563,0.268,8.807,0.806
                               c-0.448,0.538-1.12,1.403-2.017,2.6c0,0.417,0,0.896,0,1.435c0,0.775,0.034,1.956,0.101,3.541
                               c0.067,1.582,0.101,2.763,0.101,3.54c0,0.776-0.078,1.912-0.235,3.405c-0.156,1.494-0.235,2.63-0.235,3.407v40.517
                               c0,1.076,0.201,2.331,0.605,3.765c0.494,1.733,1.054,2.629,1.681,2.689c-3.854,0.538-6.364,0.807-7.53,0.807
                               c-0.627,0-1.568-0.239-2.823-0.718c0.09-0.299,0.494-0.985,1.21-2.061c0.538-0.777,0.807-1.524,0.807-2.24v-53.695
                               c0-2.211-0.156-3.795-0.471-4.75C295.626,544.526,294.954,543.57,294.148,542.195z"/>
                       </g>
                   </g>
               </g>
           </g>
           <g id="big-dashes">
               <g>
                   <rect x="-0.174" y="322.826" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="19.517" height="12"/>
               </g>
               <g>
                   <polygon fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="26.774,195.733 42.352,204.084 
                       47.982,192.851 32.405,184.499 		"/>
               </g>
               <g>
                   
                       <rect x="34.485" y="456.132" transform="matrix(-0.8877 0.4604 -0.4604 -0.8877 295.0331 852.4916)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.151" height="12.183"/>
               </g>
               <g>
                   <rect x="314.826" y="1.826" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="13" height="18"/>
               </g>
               <g>
                   <rect x="314.826" y="624.826" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="13" height="18"/>
               </g>
               <g>
                   
                       <rect x="623.826" y="315.826" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="19.347" height="13"/>
               </g>
               <g>
                   
                       <rect x="589.664" y="171.412" transform="matrix(0.8877 -0.4604 0.4604 0.8877 -14.7129 295.7026)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.388" height="13.203"/>
               </g>
               <g>
                   
                       <rect x="492.355" y="60.081" transform="matrix(0.576 -0.8174 0.8174 0.576 158.1306 438.2484)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.387" height="13.203"/>
               </g>
               <g>
                   
                       <rect x="134.68" y="59.138" transform="matrix(-0.576 -0.8174 0.8174 -0.576 173.0062 221.2138)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.387" height="13.203"/>
               </g>
               <g>
                   
                       <rect x="588.72" y="459.651" transform="matrix(0.8877 0.4604 -0.4604 0.8877 281.7838 -222.917)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.389" height="13.203"/>
               </g>
               <g>
                   
                       <rect x="476.322" y="580.413" transform="matrix(0.5761 0.8174 -0.8174 0.5761 685.6573 -148.0059)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.387" height="13.202"/>
               </g>
               <g>
                   
                       <rect x="148.826" y="580.413" transform="matrix(-0.576 0.8174 -0.8174 -0.576 728.8817 795.9911)" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" width="18.386" height="13.202"/>
               </g>
           </g>
           <g id="hands_1_">
               <g id="hour_1_">
                   <g>
                       <g>
                           <path id="svghand1" fill="#FFFFFF" d="M518.217,424.263c-5.559,0-41.056-16.676-53.052-22.517c-10.809-5.264-20.595-6.368-26.901-6.368
                               c-2.467,0-4.333,0.168-5.496,0.315c-1.873,0.532-3.807,0.802-5.749,0.802h-0.001c-8.473-0.001-16.101-5.029-19.434-12.811
                               c-1.391-3.249-1.935-6.795-1.593-10.323L337.95,339.71l8.604-17.094l65.697,37.64c1.87-1.838,4.033-3.289,6.445-4.323
                               c2.654-1.137,5.45-1.712,8.313-1.712c8.475,0,16.106,5.033,19.442,12.824c0.383,0.892,1.262,2.229,1.568,2.668l0.049,0.074
                               c8.64,13.951,24.854,22.536,25.016,22.621c0.161,0.089,12.002,6.729,23.592,13.547c24.593,14.464,24.217,15.445,23.595,17.07
                               C520.129,423.396,519.645,424.263,518.217,424.263z M438.264,392.161c6.646,0,16.951,1.16,28.311,6.691
                               c16.552,8.06,36.024,16.827,45.792,20.463c-8.223-5.396-25.138-15.292-40.813-24.078c-0.652-0.34-17.079-9.024-26.197-23.72
                               c-0.192-0.28-1.311-1.919-1.861-3.206c-2.829-6.605-9.3-10.873-16.485-10.873c-2.424,0-4.795,0.487-7.045,1.451
                               c-2.381,1.021-4.477,2.523-6.227,4.465l-0.869,0.963l-1.126-0.644l-63.841-36.578l-5.622,11.166l67.218,33.243l-0.179,1.165
                               c-0.509,3.319-0.086,6.69,1.224,9.748c2.825,6.596,9.292,10.858,16.476,10.859h0.001c1.681,0,3.355-0.239,4.974-0.709l0.24-0.05
                               C433.48,392.355,435.54,392.161,438.264,392.161z"/>
                       </g>
                       <g>
                           <path id="svghand2" fill="#FFFFFF" d="M340.115,338.985l67.614,33.44c-0.533,3.48-0.153,7.149,1.334,10.626
                               c3.929,9.17,14.038,13.772,23.379,11.062c3.726-0.487,17.506-1.567,33.428,6.186c18.674,9.094,52.083,24.29,52.899,22.151
                               c0.817-2.136-46.429-28.616-46.429-28.616s-16.653-8.688-25.639-23.2c0,0-1.196-1.711-1.729-2.955
                               c-4.247-9.918-15.726-14.514-25.643-10.268c-2.68,1.149-4.955,2.833-6.788,4.866l-65.314-37.422L340.115,338.985z"/>
                       </g>
                   </g>
                   <g>
                       <path fill="#FFFFFF" d="M314.383,324.751c-1.749-4.085,0.146-8.814,4.229-10.563c4.086-1.749,8.816,0.145,10.563,4.23
                           c1.749,4.083-0.144,8.812-4.23,10.562C320.863,330.729,316.128,328.835,314.383,324.751z"/>
                   </g>
               </g>
               <g id="minute">
                   <g>
                       <g>
                           <path fill="#FFFFFF" d="M329.963,300.244l-18.363-0.247l3.165-43.885c-2.538-0.86-4.843-2.178-6.864-3.925
                               c-8.646-7.481-9.596-20.604-2.118-29.252l0.084-0.103c0.811-0.995,1.665-2.526,1.673-2.542
                               c8.819-13.968,9.176-22.692,9.179-22.778c3.112-32.367,4.279-32.367,5.631-32.367c1.317,0.077,3.896,0.231,3.898,31.097
                               c0,14.18,5.854,20.837,8.998,24.414c0.698,0.794,1.256,1.429,1.659,2.021c6.953,7.749,7.065,19.508,0.248,27.39
                               c-2.321,2.682-5.297,4.717-8.649,5.923L329.963,300.244z M314.192,297.619l13.276,0.179l-1.438-43.544l0.879-0.273
                               c3.28-1.02,6.191-2.918,8.417-5.492c6.043-6.984,5.925-17.413-0.271-24.258l-0.112-0.146c-0.314-0.476-0.868-1.106-1.509-1.835
                               c-3.355-3.815-9.6-10.917-9.6-26.007c-0.001-15.981-0.735-23.187-1.323-26.395c-0.972,5.288-2.354,17.081-3.386,27.813
                               c-0.004,0.291-0.324,9.316-9.511,23.86c-0.004,0.012-0.933,1.678-1.842,2.793l-0.158,0.192
                               c-6.614,7.649-5.774,19.245,1.865,25.856c2.001,1.729,4.32,2.983,6.893,3.726l0.939,0.271L314.192,297.619z"/>
                       </g>
                       <g>
                           <path fill="#FFFFFF" d="M328.715,299.021l-1.448-43.888c3.366-1.046,6.496-2.992,8.973-5.854
                               c6.525-7.544,6.236-18.648-0.29-25.857c-2.072-3.14-10.909-9.467-10.909-27.179c-0.001-20.771-1.263-29.805-2.685-29.89
                               c-1.421-0.084-4.431,31.193-4.431,31.193s-0.216,8.901-9.33,23.331c0,0-0.905,1.63-1.757,2.675
                               c-0.049,0.059-0.096,0.119-0.142,0.173c-7.056,8.161-6.162,20.492,1.995,27.55c2.205,1.906,4.719,3.214,7.347,3.973
                               l-3.141,43.561L328.715,299.021z"/>
                       </g>
                   </g>
                   <g>
                       <path fill="#FFFFFF" d="M314.383,324.751c-1.749-4.085,0.146-8.814,4.229-10.563c4.086-1.749,8.816,0.145,10.563,4.23
                           c1.749,4.083-0.144,8.812-4.23,10.562C320.863,330.729,316.128,328.835,314.383,324.751z"/>
                   </g>
               </g>
           </g>
           </svg>
        </div>

        <div class="a1_content_01 row flex fs">
            <div class="row">
                <span class="title_02_wrap row">
                    <div class="row title_02_inner">
                        <span class="title_02">Your brand has less than</span>
                        <span class="title_02">Let me help you create</span>
                    </div>
                </span>
                <span class="title_01">Fifteen Seconds</span>
                <span class="title_02_wrap row">
                        <div class="row title_02_inner_02">
                            <span class="title_02">To remember</span>
                            <span class="title_02">To engage your audience</span>
                        </div>
                    </span>
            </div>
        </div>
            
    </div>
    <!--section-->
</template>

<script>
export default {

}
</script>

<style>
.a1{background: url('~assets/images/bg1.jpg') no-repeat 0 0; background-size: cover; background-attachment: fixed; position: relative; animation: anim8-02 4s; animation-fill-mode: forwards;  height: 100vh; text-align: center; display: flex; align-items: center; justify-content: center; opacity: 0; animation: anim8-02 3s; animation-fill-mode: forwards;}
.a1_svg,
.a1_content_01{position: absolute; height: 100vh; width: 100vw; top: 0; left: 0; z-index: 1;}
.a1_svg{z-index: 2;}
.a1_content_01{ z-index: 3;}
.a1_svg svg{opacity: 0.4; height: 60vh;width: auto; padding: 0 1em;}
.a1_svg svg #outer{opacity: 0;}

#hour_1_{transform-origin: center; animation: anim8-06 15s; animation-timing-function: linear; animation-iteration-count: infinite;  }
#minute{transform-origin: center; animation: anim8-06 900s; animation-timing-function: linear; animation-iteration-count: infinite; }
#num1{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 1s;}
#hands_1_{opacity: 0; animation: anim8-02 5s; animation-fill-mode: forwards;}
#ring01{stroke-dashoffset: 2100; stroke-dasharray: 2100; animation: anim8-07 3s; animation-fill-mode: forwards; animation-delay: 1s;}
#ring02{stroke-dashoffset: 2100; stroke-dasharray: 2100; animation: anim8-07 3s; animation-fill-mode: forwards; animation-delay: 1.5s;}
#big-dashes{opacity: 0; animation: anim8-02 1s; animation-fill-mode: forwards; animation-delay: 2s;}
#ring03{stroke-dashoffset: 500; stroke-dasharray: 500; animation: anim8-08 3s; animation-fill-mode: forwards; animation-delay: 2s;}
#ring04{stroke-dashoffset: 500; stroke-dasharray: 500; animation: anim8-08 3s; animation-fill-mode: forwards; animation-delay: 2.5s;}
#num1{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 1s;}
#num2{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 1.3s;}
#num4{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 1.6s;}
#num4_1_{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 1.9s;}
#num5{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 2.2s;}
#num6{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 2.5s;}
#num7{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 2.7s;}
#num8{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 3s;}
#num9{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 3.3s;}
#num10{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 3.6s;}
#num11{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 3.9s;}
#num12{opacity: 0; animation: anim8-02 .3s; animation-fill-mode: forwards; animation-delay: 4.2s;}
#dashes,
.a1_content_01{opacity: 0; animation: anim8-02 5s; animation-fill-mode: forwards; animation-delay: 2s;}
#svghand1,
#svghand2{animation: anim8-09 15s; animation-iteration-count: 3;}
#dash-01{animation: anim8-10 15s; animation-fill-mode: forwards; animation-delay: 5s;}
#dash-02{animation: anim8-10 15s; animation-fill-mode: forwards; animation-delay: 20s;}
#dash-03{animation: anim8-10 15s; animation-fill-mode: forwards; animation-delay: 35s;}

.title_01{background: rgba(0,0,0,0.8); margin: 0.25em 0; padding: 0.25em 0.5em; color: #fff; display: inline-block; font-size: 1.8em; text-transform: uppercase; letter-spacing: 4px; font-family: 'Playfair Display', serif; font-weight: 400;}
.title_02_wrap{position: relative;display: block; height: 18px;}
.title_02{ color: #fff; display: block; line-height: 18px; font-size: .8em; text-transform: uppercase; letter-spacing: 4px; font-weight: 400; animation: anim8-11 5s; animation-fill-mode: forwards;}
.title_02_inner{animation: anim8-12 15s; animation-fill-mode: forwards; animation-delay: 3s; animation-iteration-count: infinite;}
.title_02_inner_02{top:-18px;animation: anim8-13 15s; animation-fill-mode: forwards; animation-delay: 3s; animation-iteration-count: infinite;}
.title_03{background: rgba(0,0,0,1); margin: 0 auto 1em auto; padding: 0.25em 0.5em; color: #fff; display: inline-block; font-size: 2em; text-transform: uppercase; letter-spacing: 4px; font-family: 'Playfair Display', serif; font-weight: 400;}

/*animations*/
@keyframes anim8-01 {0%   {width: 0%;} 100% {width: 100%;}}
@keyframes anim8-01-r {0%   {width: 100%;} 100% {width: 0%;}}
@keyframes anim8-02 {0%   {opacity:0;} 100% {opacity:1;}}
@keyframes anim8-02-r {0%   {opacity:1;} 100% {opacity:0;}}
@keyframes anim8-03 {from {stroke-dashoffset: 146;}to {stroke-dashoffset: 0;}}
@keyframes anim8-04 {from {stroke-dashoffset: 40;}to {stroke-dashoffset: 0;}}
@keyframes anim8-05 {0%   {opacity: 0; transform: translate(0, -50px);} 100% {opacity: 1; transform: translate(0, 0px);}}
@keyframes anim8-05-r {0%  {opacity: 1; transform: translate(0, 0);} 100% {opacity: 0; transform: translate(0, -52px);}}
@keyframes anim8-06 {0%  {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
@keyframes anim8-07 {0%  {stroke-dashoffset: 2100;} 100% {stroke-dashoffset: 0;}}
@keyframes anim8-08 {0%  {stroke-dashoffset: 500;} 100% {stroke-dashoffset: 0;}}
@keyframes anim8-09 {0%  {fill: #fff;} 25% {fill: #fff;} 50% {fill:#fff;} 80% {fill: red;} 90% {fill: #fff;}}
@keyframes anim8-10 {0%  {stroke: #fff;} 96% {stroke: red; fill: red;} 100% {stroke: red; fill: red;}}
@keyframes anim8-11 {0%   {opacity:0; transform: translate(0 -55px);} 100% {opacity:1; transform: translate(0 0);}}
@keyframes anim8-12 {0%   {top:0;} 46% {top: 0;} 50% {top: -18px;} 96% {top: -18px;} 100% {top: 0;}}
@keyframes anim8-13 {0%   {top:-18px;} 46% {top: -18px;} 50% {top: 0;} 96% {top: 0;} 100% {top: -18px;}}

@media only screen and (min-width : 768px) {
.title_01,
.title_03{font-size: 3em;}
.title_02{font-size: 1em;}
}

@media only screen and (min-width : 1024px) {
.title_01,
.title_03{font-size: 2.8em;}
.title_02{font-size: 1.1em;}
.a1_svg svg{opacity: 0.1;}
}

@media only screen and (min-width : 1440px) {
.title_01{font-size: 3.6em;}
.title_02{font-size: 1.1em;}
}
</style>
