<template>
  <!--container-->
  <div class="container row" :class="{ 'scrolling': !isScrolling }">
    <Header/>
    <nuxt />
  </div>
  <!--container-->
</template>

<script>
import Header from './partials/header';
export default{
  components: {
    Header
  },
  data () {
    return {
      isScrolling: true,
      lastScrollPosition: 0
    }
  },
  mounted () {
  window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
    const currentScrollPosition = window.pageYOffset || document.documentElement.scrollTop
    if (currentScrollPosition < 0) {
      return
    }
    // Stop executing this function if the difference between
    // current scroll position and last scroll position is less than some offset
    if (Math.abs(currentScrollPosition - this.lastScrollPosition) < 50) {
      return
    }
    this.isScrolling = currentScrollPosition < this.lastScrollPosition
    this.lastScrollPosition = currentScrollPosition
  }
}
  
}
</script>

<style>

</style>
