<template>
<h1>The Blog Index</h1>
</template>

<script>
export default {
  head(){
    return{
      title: 'Ultra Blog | Front End Web Development Tutorials',
      meta: [
          {hid: 'og:title', name: 'og:title', content: 'This is Ultra'},
          {hid: 'description', name: 'description', content: 'Web Design & Development tutorials and articles.'},
          {hid: 'og:description', name: 'og:description', content: 'Web Design & Development tutorials and articles.'},
          {name: 'keywords', content: 'blog, tutorials, web design, web development, front end, javascript, php, wordpress, cheshire'}
      ]
    }
  }
}
</script>

<style>

</style>
