<template>
  <div class="row">
    <Hero/>
    <Envelope/>
    <Grid/>
    <Blog/>
  </div>
</template>

<script>
import Hero from '../layouts/partials/hero';
import Envelope from '../layouts/partials/envelope';
import Grid from '../layouts/partials/grid';
import Blog from '../layouts/partials/blog';
export default {
  components: {
    Hero,
    Envelope,
    Grid,
    Blog,
  },
  head(){
    return{
      title: 'This is Ultra',
      meta: [
          {hid: 'og:title', name: 'og:title', content: 'This is Ultra'},
          {hid: 'description', name: 'description', content: 'Web Designer & Website Developer Cheshire | ultr4.co.uk'},
          {hid: 'og:description', name: 'og:description', content: 'Web Designer & Website Developer Cheshire | ultr4.co.uk'},
          {name: 'keywords', content: 'web designer, web developer, cheshire, front end, javascript, php, WordPress'}
      ]
    }
  },
  data() {
    return {
      content: {
          id:1,
          title: 'We are Paragon', 
          sub_title: 'Creative & Digital Arts',
          excerpt: '<p>Sed tincidunt sem eget erat varius, quis nterdum leo luc interdum leo luctus. Suspendisse ut magna luctus, blandit nibh at, suspendisse ut magna luctus.</p>' 
      },
      services: [
        { 
          id:2, 
          credit: 'Persons Name', 
          title: 'Creative Design', 
          excerpt: '<p>Sed tincidunt sem eget erat varius, quis nterdum leo luc interdum leo luctus. Suspendisse ut magna luctus, blandit nibh at, suspendisse ut magna luctus.</p>', thumb: require('../assets/images/a1.jpg')
        },
        { 
          id:3, 
          credit: 'Persons Name', 
          title: 'Creative Design', 
          excerpt: '<p>Sed tincidunt sem eget erat varius, quis nterdum leo luc interdum leo luctus. Suspendisse ut magna luctus, blandit nibh at, suspendisse ut magna luctus.</p>', thumb: require('../assets/images/a2.jpg')
        }
      ]
    }
  }
}

</script>

<style>

</style>
