<template>
<div class="row fs flex">
    <div class="row singlePost" >
        <div class="row flex fs">
            <div class="ctr">
                <div class="row flex">
                    <div class="row thumb">
                        <img :src="this.thumb" />
                    </div>
                    <div class="row excerpt">
                        <h1>{{this.title}}</h1>
                        <p><b>{{this.date}}</b></p>
                        <p>{{this.excerpt}}</p>
                        <a href="">{{this.link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import axios from 'axios'

export default {
    //meta
    head () {
        return {
            title: this.title,
            meta: [
            { hid: 'description', name: 'description', content: this.excerpt},
            {hid: 'og:title', name: 'og:title', content: this.title},
            {hid: 'og:description', name: 'og:description', content: this.excerpt}
            ]
        }
    },
    //validation - checks its a number

    //post data
    data() {
        return {
        baseUrl: "https://api.myjson.com/bins/acq2n",
        blogs: [],
        permalink:   '',
        link:   '',
        date:   '',
        title:   '',
        thumb:   '',
        excerpt:   '',
        blog:   '',
        isActive: 'isActive'
        };
    },

  //post methods
  methods: {

    //get single post
    getSingle: function(id) {
    var self = this;
    this.id = this.$route.params.id;

    axios.get(this.baseUrl, {
    })

    .then(response => {
        this.permalink = response.data[id - 1].permalink;
        this.link = response.data[id - 1].link;
        this.date = response.data[id - 1].date;
        this.title = response.data[id - 1].title;
        this.thumb = response.data[id - 1].thumb;
        this.excerpt = response.data[id - 1].excerpt;
        this.blog = response.data[id - 1];
        console.log(this.title);
        console.log("You clicked post ID #" + this.id);
    })

    .catch(response => {
     console.log(response);
    });
    
    }
  },
  
    mounted: function () {
    this.getSingle(this.$route.params.id);
    }
}

</script>

<style>
.singlePost p,
.singlePost a{color: #fff; text-align: left;}
.singlePost a{text-decoration: none;}
</style>
